/* WFFM Module Default Stylesheet */

.scfForm input, 
.scfForm select, 
.scfForm textarea
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.scChromeDataHolder
{
    display:block;
}

.scfForm textarea {
    resize: none;
}

/* Form */
.scfForm
{
    height: 100%;
    width: 100%;
    text-align: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    line-height: 1.4em;
}

.form-title
{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000000;
    font-family: Arial,Tahoma,Helvetica,sans-serif;
    font-size: 1.8em;
    line-height: 1.1em;
    margin: 5px 0pt;
    text-decoration: none;
    font-weight: bold;
}

/* Form Introduction*/
.form-introduction
{
}

/* Form Footer*/
.form-footer
{
}

/* Submit Button*/
.form-submit-border
{
}

.form-submit
{
}

/* Error */
.error-message
{
}

/* Validation */
.form-validation-summary
{
    margin-left : 20px;
}

.scfValidatorRequired, .field-required
{
    margin: 0px 0px;
    float: right;
}

.field-error
{
    margin: 0px;
    display: block;
    float: left;
}

/* Forms section*/
.display-section-fieldset
{
    padding: 0px 15px 15px 15px;
    border: 0px;
    border-top: solid 2px;
    margin: 0px 30px;
}

.display-section-legend
{
    padding: 7px 13px 8px 13px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
}

.display-section-border
{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.display-section-content
{
    width: 100%;
    float: left;
}

.display-section-info
{
    width: 100%; /*padding: 5px 0px 0px 20px;*/
    vertical-align: top;
    display: inline;
}

/* Form fields */
/* Checkbox */

.checkbox-border
{
    clear: left;
    text-align: left;
    display: block;
    margin: 5px 0px;
    width: 100%;
}

.checkbox-content
{
    width: 90%;
    display: block;
    padding: 0px 0px;
    margin: 0px;
}

.checkbox-info
{
    font-size: 0.9em;
    display: block;
    width: 90%;
    padding: 0px 3px;
}


.field-border
{
    clear: left;
    text-align: left;
    display: block;
    margin: 5px 0px;
    width: 100%;
    vertical-align: top;
}

.field-content
{
   display: block;
    overflow: hidden;
    padding-right:10px;
}
.field-content input, textarea, select{
    width: 100%;
}

.list-content {
    margin: 0;
    width: 100%; 
}

.field-title
{
    padding: 3px 0px;
    width: 30%;
    display: block;
    float: left;
    clear: both;
}

.field-panel
{
    /*margin: 0px 3px;*/
    padding: 0px 2px 0px 0px;
    width: 60%;
    display: block;
    float: left;
}

.field-info
{
    padding-left: 3px;
    font-size: 0.9em;
    width: 100%;
    display: block;
    float: left;
}

.field-datebox-content
{
    width: 32%;
    margin: 0px;
}

.scfDateSelectorLabel
{
    margin-top: 7px;
}

.field-datebox-title
{
    padding: 0px 0px 1px 0px;
    margin: 0px;
    display: block;
    float: left;
    font-size: xx-small;
    line-height: 10px;
    width: 33%;
}

ul
{
    margin: 0px;
    padding: 0px;
}


/* Captcha Field */

.field-captcha-image-container {
    background-color: #fff; 
    float: left; 
    border: 1px solid #c0c0c0;
}

.field-captcha-audio {
    display: none;
    height: 0px;
    width: 0px;
    position: relative;
}

.field-captcha-audio embed {
    position: absolute;
    z-index: -1;
}

.field-captcha-controls {
    float: left; 
    margin-left: 5px;
}

.field-captcha-controls input {
    width: auto;
    margin: 7px; 
    display: block;
}

/* End Captcha Field */

.scfCreditCardType
{
    width: 100%;
}

.scfShortDate
{
    clear: left;
    text-align: left;
    display: block;
    margin: 5px 0px;
    vertical-align: top;
    width: 60%;
}

.scfShortText
{
    margin: 0px;
    float: right;
    width: 40%;
}

.scfShortDate .scfDateSelectorLabel
{
    width: 50%;
    margin-top: 0px;
}

.scfShortDate .scfDateSelectorGeneralPanel
{
    width: 46%;
}

.scfShortDate .scfDateSelectorDay, .scfShortDate .scfDateSelectorShortLabelDay, .scfShortDate .scfDateSelectorShortLabelMonth, .scfShortDate .scfDateSelectorShortLabelYear
{
    display: none;
}

.scfShortDate .scfDateSelectorShortLabelMonth, .scfShortDate .scfDateSelectorShortLabelYear, .scfShortDate .scfDateSelectorMonth, .scfShortDate .scfDateSelectorYear
{
    width: 49%;
}

.scfShortText .scfSingleLineTextLabel
{
    width: 15%;
}

.scfShortText .scfSingleLineTextGeneralPanel
{
    width: 60%;
}

.scfShortText .scfSingleLineTextUsefulInfo
{
}

.scfShortText .scfSingleLineTextTextBox
{
    width: 100%;
    margin: 0px;
}

.scWfmPassword
{
    behavior: url(/sitecore%20modules/shell/Web%20Forms%20for%20Marketers/themes/autocomplete.htc?v=17072012)
}

.scfDatePickerGeneralPanel .ui-icon
{
    float : right;
    position: relative;
    top: -20px;
    display:block;
}
