﻿/* glue: 0.9.4 hash: 4face63310 */
        .icon-logo,
.icon-logo-mobile,
.icon-logo-small,
.icon-landing-2,
.icon-landing-1,
.icon-arrow-grey-up,
.icon-landing-3,
.icon-helper1,
.icon-helper2,
.icon-video,
.icon-helper3,
.icon-share-twitter,
.icon-share-linkin,
.icon-share-facebook,
.icon-share-email,
.icon-burguer,
.icon-helper4,
.icon-share-tumblr,
.icon-contact,
.icon-country,
.icon-search,
.icon-avatar,
.icon-share-small,
.icon-outbound-grey,
.icon-arrow-up-grey,
.icon-arrow-grey,
.icon-arrow-down-grey,
.icon-arrow-blue,
.icon-prev,
.icon-next,
.icon-next-big,
.icon-arrow-down,
.icon-outbound,
.icon-minus-grey,
.icon-inbound,
.icon-close,
.icon-plus-grey {
            background-image: url('icons.png');
            background-repeat: no-repeat;
        }
        
        .icon-logo {
            background-position: -5px -5px;
            width: 121px;
            height: 40px;
        }
        
        .icon-logo-mobile {
            background-position: -5px -55px;
            width: 100px;
            height: 34px;
        }
        
        .icon-logo-small {
            background-position: -5px -99px;
            width: 69px;
            height: 16px;
        }
        
        .icon-landing-2 {
            background-position: -136px -5px;
            width: 44px;
            height: 37px;
        }
        
        .icon-landing-1 {
            background-position: -136px -52px;
            width: 36px;
            height: 44px;
        }
        
        .icon-arrow-grey-up {
            background-position: -5px -125px;
            width: 40px;
            height: 34px;
        }
        
        .icon-landing-3 {
            background-position: -190px -5px;
            width: 37px;
            height: 37px;
        }
        
        .icon-helper1 {
            background-position: -190px -52px;
            width: 29px;
            height: 37px;
        }
        
        .icon-helper2 {
            background-position: -190px -99px;
            width: 32px;
            height: 34px;
        }
        
        .icon-video {
            background-position: -55px -125px;
            width: 32px;
            height: 22px;
        }
        
        .icon-helper3 {
            background-position: -5px -169px;
            width: 32px;
            height: 23px;
        }
        
        .icon-share-twitter {
            background-position: -237px -5px;
            width: 30px;
            height: 30px;
        }
        
        .icon-share-linkin {
            background-position: -237px -45px;
            width: 30px;
            height: 30px;
        }
        
        .icon-share-facebook {
            background-position: -237px -85px;
            width: 30px;
            height: 30px;
        }
        
        .icon-share-email {
            background-position: -237px -125px;
            width: 30px;
            height: 30px;
        }
        
        .icon-burguer {
            background-position: -237px -165px;
            width: 29px;
            height: 18px;
        }
        
        .icon-helper4 {
            background-position: -5px -202px;
            width: 27px;
            height: 27px;
        }
        
        .icon-share-tumblr {
            background-position: -97px -125px;
            width: 20px;
            height: 20px;
        }
        
        .icon-contact {
            background-position: -190px -143px;
            width: 20px;
            height: 16px;
        }
        
        .icon-country {
            background-position: -127px -125px;
            width: 18px;
            height: 19px;
        }
        
        .icon-search {
            background-position: -155px -125px;
            width: 18px;
            height: 17px;
        }
        
        .icon-avatar {
            background-position: -47px -169px;
            width: 14px;
            height: 18px;
        }
        
        .icon-share-small {
            background-position: -84px -99px;
            width: 16px;
            height: 14px;
        }
        
        .icon-outbound-grey {
            background-position: -115px -55px;
            width: 8px;
            height: 15px;
        }
        
        .icon-arrow-up-grey {
            background-position: -136px -106px;
            width: 13px;
            height: 7px;
        }
        
        .icon-arrow-grey {
            background-position: -220px -143px;
            width: 6px;
            height: 13px;
        }
        
        .icon-arrow-down-grey {
            background-position: -159px -106px;
            width: 13px;
            height: 7px;
        }
        
        .icon-arrow-blue {
            background-position: -110px -99px;
            width: 6px;
            height: 13px;
        }
        
        .icon-prev {
            background-position: -71px -169px;
            width: 7px;
            height: 12px;
        }
        
        .icon-next {
            background-position: -88px -169px;
            width: 7px;
            height: 12px;
        }
        
        .icon-next-big {
            background-position: -105px -169px;
            width: 7px;
            height: 12px;
        }
        
        .icon-arrow-down {
            background-position: -122px -169px;
            width: 12px;
            height: 7px;
        }
        
        .icon-outbound {
            background-position: -42px -202px;
            width: 10px;
            height: 10px;
        }
        
        .icon-minus-grey {
            background-position: -62px -202px;
            width: 9px;
            height: 10px;
        }
        
        .icon-inbound {
            background-position: -81px -202px;
            width: 10px;
            height: 10px;
        }
        
        .icon-close {
            background-position: -115px -80px;
            width: 10px;
            height: 9px;
        }
        
        .icon-plus-grey {
            background-position: -101px -202px;
            width: 9px;
            height: 9px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .icon-logo,
    .icon-logo-mobile,
    .icon-logo-small,
    .icon-landing-2,
    .icon-landing-1,
    .icon-arrow-grey-up,
    .icon-landing-3,
    .icon-helper1,
    .icon-helper2,
    .icon-video,
    .icon-helper3,
    .icon-share-twitter,
    .icon-share-linkin,
    .icon-share-facebook,
    .icon-share-email,
    .icon-burguer,
    .icon-helper4,
    .icon-share-tumblr,
    .icon-contact,
    .icon-country,
    .icon-search,
    .icon-avatar,
    .icon-share-small,
    .icon-outbound-grey,
    .icon-arrow-up-grey,
    .icon-arrow-grey,
    .icon-arrow-down-grey,
    .icon-arrow-blue,
    .icon-prev,
    .icon-next,
    .icon-next-big,
    .icon-arrow-down,
    .icon-outbound,
    .icon-minus-grey,
    .icon-inbound,
    .icon-close,
    .icon-plus-grey {
                background-image: url('icons.png');
                -webkit-background-size: 272px 234px;
                -moz-background-size: 272px 234px;
                background-size: 272px 234px;
            }
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
            .icon-logo,
    .icon-logo-mobile,
    .icon-logo-small,
    .icon-landing-2,
    .icon-landing-1,
    .icon-arrow-grey-up,
    .icon-landing-3,
    .icon-helper1,
    .icon-helper2,
    .icon-video,
    .icon-helper3,
    .icon-share-twitter,
    .icon-share-linkin,
    .icon-share-facebook,
    .icon-share-email,
    .icon-burguer,
    .icon-helper4,
    .icon-share-tumblr,
    .icon-contact,
    .icon-country,
    .icon-search,
    .icon-avatar,
    .icon-share-small,
    .icon-outbound-grey,
    .icon-arrow-up-grey,
    .icon-arrow-grey,
    .icon-arrow-down-grey,
    .icon-arrow-blue,
    .icon-prev,
    .icon-next,
    .icon-next-big,
    .icon-arrow-down,
    .icon-outbound,
    .icon-minus-grey,
    .icon-inbound,
    .icon-close,
    .icon-plus-grey {
                background-image: url('icons@2x.png');
                -webkit-background-size: 272px 234px;
                -moz-background-size: 272px 234px;
                background-size: 272px 234px;
            }
        }
        