.CoveoSearchInterface .out-container,
.CoveoSearchInterface .mainForm .rightContent,
.CoveoSearchInterface .search-popup-container {
    font-size: 1rem;
    /*font-family: "Segoe UI",Helvetica Neue,Helvetica,Arial, sans-serif;*/
}
.ja-jp.CoveoSearchInterface .out-container,
.ja-jp.CoveoSearchInterface .mainForm .rightContent,
.ja-jp.CoveoSearchInterface .search-popup-container {
    font-size: 14px;
}
.search-popup-container.search-popup{
	border:0;
	padding:19px 10px;
	width:376px;
}
.search-popup-container .CoveoSearchInterface .coveo-search-section{
	margin:0;
}
.search-popup .search-close{
	display: inline-block;
	margin: 4px 0 0 8px;
	position:relative;
	z-index:1;
}
.search-popup .CoveoSearchInterface {
    border: 1px solid #fff;
    border-radius: 20px;
	height:27px;
    float: left;
    min-width:257px;
    padding:0px 5px;
}
.search-popup .CoveoSearchInterface .coveo-search-section{
	height:30px;
	margin:0;
	padding:0;
}
.search-popup .CoveoSearchbox .CoveoSearchButton{
    border: 0;
	background: url(../img/icons/new-icons.png) no-repeat;
    background-position: -83px -4px;
    height: 16px;
    float: left;
    margin: 6px 0 0 4px;
    width: 16px;
}
.search-popup .CoveoSearchbox .magic-box{
	border:0;
	border-radius:0;
	display:inline-block;
	height: 30px;
	width: 240px;
}
.search-popup .CoveoSearchbox .magic-box .magic-box-input{
	border-radius: 0;
	background-color:transparent;
	height:29px;
}
.search-popup .magic-box .magic-box-input .magic-box-underlay{
	height: auto;
    padding: 0;
}
.search-popup .magic-box .magic-box-clear{
	display:none;
}
.search-popup .CoveoSearchbox .magic-box .magic-box-input > input {
    color: #d1d2d5;
    height: 27px;
    font-size: 14px;
    /*font-family: "Segoe UI",Helvetica Neue,Helvetica,Arial, sans-serif;*/
    line-height: 27px;
    text-indent: 0px;
    padding: 0 5px;
}
.global-search .magic-box .magic-box-clear {
    display: none;
}
.global-search .CoveoSearchButton .coveo-icon,
.global-search .CoveoSearchButton:hover .coveo-icon{
	width:auto;
	height:auto;
	text-indent: 0;
	background:none;
}
.global-search .CoveoSearchbox .magic-box {
    border:none;
    border-radius: 2px;
    width:272px;
}
.global-search .magic-box .magic-box-input{
	background: transparent;
	height: 39px;
}
.global-search .magic-box .magic-box-input .magic-box-underlay{
	height:38px;
	padding:2px 0;
}
.global-search .CoveoSearchbox .magic-box .magic-box-input > input{
	border: 1px solid #8f9091;
	color:#FFFFFF;
	height:39px;
	font-size:14px;
	font-weight:normal;
}
.global-search .CoveoSearchbox{
	display:inline-block;
}
.global-search .CoveoSearchbox .CoveoSearchButton{
	background: #434343;
	border-color:transparent;
    border-radius: 5px;
	height:39px;
	margin-left: 2px;
	width:80px;
}
.CoveoSearchInterface .CoveoResultList .CoveoResultLink, 
.CoveoSearchInterface .CoveoResultList a.CoveoResultLink, 
.CoveoSearchInterface .CoveoResult a.CoveoResultLink{
	color: #2b7690;
    font-size: 19px;
	font-weight: normal;
}
.coveo-main-section .CoveoResultList a.CoveoResultLink:hover,
.coveo-main-section .CoveoResultList .CoveoResult a.CoveoResultLink:hover{
    color: #44bde9;
	text-decoration:none;
}
.coveo-main-section .CoveoResultList .coveo-list-layout.CoveoResult{
    border-bottom: 5px solid #d0d2d1;
	padding-bottom: 20px;
}
.coveo-main-section .CoveoResultList .coveo-list-layout.CoveoResult .item table tr td br{
	display:none;
}
.coveo-main-section .CoveoResultList .coveo-list-layout.CoveoResult .item table tr td .CoveoExcerpt{
	display:inline-block;
	margin-bottom:5px;
}
.CoveoSearchInterface #maincontent .coveo-main-section{
	max-width: 1100px;
	margin-top:40px;
	min-width:430px;
}
.mainForm .search-popup .magic-box .magic-box-suggestions {
	background: rgba(0,0,0,.5);
	border-color:transparent;
	left:-10px;
	margin-top:-2px;
}
.mainForm .magic-box .magic-box-suggestions .magic-box-suggestion {
    box-sizing: border-box;
    font-size: 14px;
	font-weight:normal;
}
.mainForm .search-popup .magic-box .magic-box-suggestions .magic-box-suggestion {
	color:#FFF;
	cursor:auto;
	background-color: rgba(0,0,0,.5);
	border:0;
	padding: 0px 18px 0px 15px;
	line-height:18px;
	font-size:12px;
 }
.mainForm .search-popup .CoveoOmnibox.magic-box .coveo-omnibox-selectable.coveo-omnibox-selected {
	background-color: #2d8068;
	color:#fff;
 }
.mainForm .search-popup .magic-box .magic-box-suggestions .magic-box-suggestion,
.mainForm .search-popup .CoveoOmnibox.magic-box .coveo-omnibox-hightlight {
  color: #fff;
  font-weight: normal;
  padding:5px;
}
.mainForm .search-popup .CoveoOmnibox.magic-box .coveo-omnibox-hightlight {
  color: #fff; 
  font-weight: normal;
}
.mainForm .global-search .magic-box .magic-box-suggestions{
	width:auto;
	border-color:#555555;
}
.mainForm .search-popup .magic-box .magic-box-suggestions .magic-box-suggestion.coveo-omnibox-selectable{
	 padding-left:10px;
 }
.mainForm .global-search .magic-box .magic-box-suggestions .magic-box-suggestion {
	background: #FFF;
	font-weight:normal;
	font-size:15px;
	margin-left:1px;
	padding: 0px 10px 0px 5px;
	color:#000000;
	cursor:default;
}
.mainForm .search-popup .magic-box .magic-box-suggestions .magic-box-suggestion > *{
	cursor:default;
}
.mainForm .global-search .magic-box .magic-box-suggestions .magic-box-suggestion:hover{
	background-color:#dadada;
	border:1px solid #999999;
}
.mainForm .global-search .magic-box .magic-box-suggestions .magic-box-suggestion .coveo-omnibox-hightlight,
.mainForm .global-search .magic-box .magic-box-suggestions .magic-box-suggestion .coveo-omnibox-hightlight2,
.mainForm .search-popup .magic-box .magic-box-suggestions .coveo-omnibox-hightlight2,
.mainForm .search-popup .magic-box .magic-box-suggestions .coveo-omnibox-selectable .coveo-highlight,
.mainForm .global-search .magic-box .magic-box-suggestions .coveo-omnibox-selectable .coveo-highlight{
	font-style:normal;
	font-weight:normal;
}
.mainForm .search-popup .magic-box .magic-box-suggestions .coveo-omnibox-hightlight2{
	color:#fff;
}
.search-popup .CoveoSearchbox .CoveoSearchButton .coveo-icon{
	display:none;
}
.CoveoSearchInterface #maincontent .coveo-results-header{
	margin-left:20px;
}
.CoveoSearchInterface #maincontent .coveo-facet-column{
    padding:20px;
    box-sizing: border-box;
    width: 40%;
}
.CoveoSearchInterface #maincontent .CoveoFacet, 
.CoveoSearchInterface #maincontent .CoveoFacetRange, 
.CoveoSearchInterface #maincontent .CoveoFacetSlider, 
.CoveoSearchInterface #maincontent .CoveoHierarchicalFacet{
	margin-top:0;
	border-radius:0;
}
.coveo-top-field-suggestion-header{
	display:none;
}
.search-popup-container.search-popup.active {
    padding: 20px 10px 20px 230px;
	position: fixed;
}
#search.CoveoSearchInterface.coveo-small-facets .coveo-dropdown-header-wrapper a{
	display:none;
}
@media only screen and (max-width: 767px) {
.search-popup .CoveoSearchInterface{
	z-index:1004;
}
.search-popup-container.search-popup.active{
	z-index:1005;
	margin:auto;
	width:375px;
    padding:20px;
}
.search-popup-active .header-container .header-row,
.search-popup-active .aside-menu-trigger .icon{
	display:none;
}
}
@media only screen and (max-width: 568px) {
.search-popup-container.search-popup.active {
    padding: 11px 10px 10px 14px;
	width:330px;
}
#search.CoveoSearchInterface.coveo-small-facets .coveo-facet-column.coveo-facet-dropdown-content{
	z-index:1001;
}
}
@media (min-width: 569px){
.search-popup-active .header-container .header-row{
	display:block;
}
.search-popup-active .aside-menu-trigger .icon{
	display:inline-block;
}
}