/*body {
    font: 14px/1.6em "Segoe UI",Helvetica Neue,Helvetica,Arial, sans-seriff;
}
*/ .aside-menu-trigger .icon {
    -ms-background-size: 272px 234px;
    -moz-background-size: 272px 234px;
    -webkit-background-size: 272px 234px;
    background-size: 272px 234px;
}
.aside-menu-trigger .hamburger-title{
	display: block;
    text-align: center;
}
/* Company name label style */
.company-name-label,
.company-name-label span{
    color: #289B7D;
	float: right;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
a.company-name-label[href]:hover span{
    color: #44bde9;
}
/* Header customizataion */
.global-web .header-container{
	left: 56px;
	position: fixed;
    padding-right: 56px;
	top: 0;
    width: 100%;
}
.global-web .out-container {
    background-color: #000000;
    /*font: 14px/1.6em "Segoe UI",Helvetica Neue,Helvetica,Arial, sans-serif;*/
}
.global-web.ja-jp .out-container {
    /*font-family: "Segoe UI",Helvetica Neue,Helvetica,Arial, sans-serif;*/
}
.mainForm{
	background-color: #FFFFFF;
}
.country-confirm.active{
	z-index: 1005;
}
.icon-check-new, .icon-close-new, 
.icon-arrow-down-new, 
.myanritsu-logo-new, 
.icon-next-new, .icon-search-new {
    background-image: url('../img/icons/new-icons.png');
}
.global-web .fixed-header{
	left: 336px;
}
.global-web .wrap{
	margin-left: 56px;
}
.global-web.open-aside-menu .pusher{
	left: 56px;
}
/* Menu code Changes */
/*.global-web.open-aside-menu .wrap{
	margin-left: 336px;
}*/
.global-web .header-container .header-row .logo{
	margin-left: 14px;
}
.global-web .aside-menu-trigger{
	background-color: #289B7D;
	position: fixed;
	top: 0;
	width: 56px;
	z-index: 1003;
}
.global-web.ie-browser .aside-menu-trigger{
	position: absolute;
}
.global-web.open-aside-menu .aside-menu-trigger {
    background: #2D8068;
}
/* Aside */
    .quick-links-wrapper{
	display: none;
	left: 0;
	position: fixed;
	top: 96px;
    width: 56px;
}
.quick-links-wrapper.active{
	display: block;
}
.menu-options ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-options ul li .link img{
	border: 0;
	height: 30px;
	vertical-align: middle;
	width: 30px;
}
.menu-options ul li.mega-menu-link.active{
	background-color: #999;
}
.menu-options ul li .quick-links{
	cursor: pointer;
	display: block;
    font-weight: normal;
	height: 52px;
	line-height: 52px;
	margin-bottom: 10px;
	position: relative;
}
.menu-options ul li.active .quick-links,
.menu-options.is-menu-open ul li.active:hover{
	background-color: rgba(0,0,0,.80);
}
.menu-options ul li .link{
	display: block;
}
.menu-options ul li.active .link{
	background: rgba(0,0,0,.80);
}
.menu-options ul li .close-mega-menu{
	height: 52px;
	padding-top: 15px;
	position: relative;
	z-index: 9999;
}
.menu-options ul li .close-mega-menu,
.menu-options ul li.active .link{
	display: none;
}
.menu-options ul li.active .close-mega-menu{
	display: block;
}
.menu-options ul li .label-title{
	background: #2D8068;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	display: none;
	box-sizing: border-box;
	left: 56px;
    top: 0px;
	height: 100%;
    opacity: 0;
	overflow: hidden;
	padding: 1% 12px;
	position: absolute;
	text-align: left;
	width: 256px;
    z-index: 0;
}
.menu-options ul li .label-title.active{
	display: table;
	opacity: 1;
}
.menu-options ul li .label-title label{
	cursor: pointer;
	color: #FFF;
	display: none;
	font-size: 14px;
	line-height: 15px;
	position: relative;
	word-wrap: break-word;
	z-index: 2;
	padding-right: 13px;
	vertical-align: middle;
}
.menu-options ul li .label-title.active label{
	display: table-cell;
}
.menu-options ul li .label-title img{
	border: 0;
	height: 12px;
	left: auto;
	right: 12px;
	top: 20px;
	width: 12px;
	position: absolute;
	z-index: 3;
}
.menu-options ul li[data-id]:after{
	background: none;
    border-top: 12px solid transparent;
    border-right: 12px solid rgba(0,0,0,.80);
    border-bottom: 12px solid transparent;
	content: "";
    height: 0px;
	display: none;
	left: auto;
	position: absolute;
    right: -15px;
    top: 5px;
    width: 0px;
}
.overlay-active{
	overflow: hidden;
}
.mega-menu-wrapper{
	background-color: rgba(0,0,0,.90);
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
    height: 100%;
	left: 56px;
    overflow-y: auto;
	position: fixed;
    top: 70px;
    width: 100%;
}
.mega-menu-container{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding: 42px 55px 12px 55px;
	vertical-align: top;
}
.close-mega-menu span{
	cursor: pointer;
    display: inline-block;
    height: 30px;
	margin: auto;
	position: relative;
    width: 30px;
}
.close-mega-menu span:after,.close-mega-menu span:before{
    background-color: #fff;
    content: "";
    height: 3px;
    left: 3px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
	width: 25px;
}
.close-mega-menu span:before{
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.global-web .icon-burguer .menu-title{
    /*Menu code changes*/
    display: block;
}
.mega-menu-container .mega-menu-title,
.mega-menu-container .mega-menu-title a{
	cursor: auto;
    color: #fff;
	font-size: 18px;
    font-weight: bold;
	line-height: initial;
	margin-bottom: 24px;
	text-align: left;
    text-transform: uppercase;
}

.mega-menu-container .mega-menu-title a{
	cursor: pointer;
}
.mega-menu-container .mega-menu-title a:hover{
	color: #44bde9;
}
.mega-menu-container .menu-title a{
	cursor: pointer;
	margin-bottom: 24px;
	text-decoration: none;
}
.mega-menu-container .menu-title a:hover{
	color: #44bde9;
}
.mega-menu-nav{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: auto;
	text-align: left;
}
.mega-menu-3columns{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
    padding-right: 40px;
	text-align: left;
	vertical-align: top;
	width: 33%;
}
.column-title,
.column-title a{
    color: #fff;
	display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: initial;
	padding-left: 10px;
	vertical-align: top;
}
.column-title{
	cursor: auto;
	display: block;
	padding-top: 1px;
	position: relative;
}
.column-title:before{
	background-color: #1f9c7d;
	content: "";
	height: 14px;
	left: 0;
	position: absolute;
	top: 2px;
	width: 3px;
}
.column-title a{
	border-left: 0;
	cursor: pointer;
	padding-left: 0;
}
.menu-column{
	margin-bottom: 40px;
}
.mega-menu-3columns ul{
	list-style: none;
	margin: 18px 0 33px 15px;
    padding: 0;
}
.mega-menu-3columns ul li a{
	cursor: pointer;
	color: #FFF;
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
	text-decoration: none;
}
.mega-menu-3columns ul li a:hover,
.column-title a:hover{
	color: #44bde9;
}
.mega-menu-3columns ul li a:hover{
	font-weight: bold;
}
.global-web.open-aside-menu .menu-options ul li .label-title{
	display: none !important;
}
.global-web.open-aside-menu .menu-options ul li{
	cursor: auto;
}
.global-web.open-aside-menu .menu-options{
	display: none !important;
}
.menu-options ul li.active .mega-menu-wrapper{
	display: block;
	z-index: 9999;
}
/* Menu code Changes*/
/* .global-web.open-aside-menu .header-container {
	left: 336px;
    padding-right: 336px;
}*/
/* AU-68 resolved */
.country-popup-container.country-popup.active{
	z-index: 1004;
}
/* AU-69 resolved */
.country-popup{
	position: fixed;
}
body.ie-browser .aside-menu-trigger .icon{
	position: fixed;
    left: 0px;
	top: 0;
}
body.ie-browser.global-web .hamburger-title{
    position: fixed;
    left: 14px;
    top: 38px/*33px*/;
}
/*AU-97*/
body.ie-browser .hamburger-title {
    position: fixed;
    left: 14px;
    top: 38px /*33px*/;
}
@media only screen and (min-device-width : 380px) and (max-device-width : 580px){
.country-popup-container.country-popup .bd{
	max-height: 250px;
	overflow: auto;
}
.country-popup .bd .country-list{
	padding-bottom: 20px;
}
}
@media only screen and (max-width: 1025px) {
.menu-options ul li.mega-menu-link.ipad-active{
	background-color: #2D8068;
}
}
@media only screen and (max-width: 768px) {
    /*.global-web.open-aside-menu .header-container {
        padding-right: 208px;
    }*/
.mega-menu-container{
	padding-right: 20px;
	padding-left: 20px;
}
.mega-menu-3columns{
	width: 33%;
	padding-right: 20px;
}
}
@media only screen and (max-width: 767px) {
.menu-options{
	display: none;
}
.global-web .pusher{
	left: -100%;
}
.global-web .aside-menu-trigger{
	position:fixed;
}
/* AU-98*/
.global-web.ie-browser .aside-menu-trigger {
        position: fixed;
    }
.global-web .out-container{
    background-color: #289B7D;
}
.global-web .header-container .mobile-logo{
	margin-left: 0;
}
/*.global-web.open-aside-menu .header-container .mobile-logo{
	margin-left: 56px;
}*/
    /*.global-web.open-aside-menu .header-container {
        padding-right: 107px;
    }*/
.global-web.open-aside-menu .aside-menu-trigger {
    background: #289B7D; /* in mobile view, when the menu is opened, the background color is changed to #289B7D */
}


.global-web.ie-browser.open-aside-menu .aside-menu-trigger .icon {
        /*left:280px;*/ /* Hamburger icon position fix for IE */
    }
.global-web .aside-menu-trigger .hamburger-title {
	display:none;
}
}
@media only screen and (max-width: 568px){
.global-web .aside-menu-trigger {
	height: 55px;
}
.global-web .header-container .header-row .logo.desktop{
	display: none;
}
.global-web .header-row .nav .desktop {
    display: none;
}
.global-web .header-row .nav .mobile {
    display: block;
}
.global-web .header-container .company-name .company-name-label,
.global-web .header-container .company-name .company-name-label span{
	color: #FFFFFF;
	font-size: 11px;
    margin-top: 1px;
}
.global-web .header-container .company-name{
	color: #FFFFFF;
	margin-top: 0;
}
    /*.global-web.open-aside-menu .header-container {
        left: 286px;
     
        padding-right: 254px;
    }*/
.global-web.open-aside-menu .pusher{
	left: 0px;
}
.global-web.open-aside-menu .wrap {
        /* margin-left: 280px; */ /* Page is not pushed to the right */
    }

.global-web .wrap {
        margin-left: 0px;
    }

.global-web.open-aside-menu .mobile-logo { /* in mobile view, when the menu is opened, the position of the logo is move 10px to the right side */
        /*margin-left: 10px;*/
    }
}
@media only screen and (max-width: 480px){
    /*.global-web.open-aside-menu .header-container {
        padding-right: 160px;
    }*/
}
@media only screen and (max-width: 380px){
    /*.global-web.open-aside-menu .header-container {
        padding-right: 56px;
    }*/
}
@media only screen and (max-width: 360px){
/*.global-web.open-aside-menu .header-container{
	background-color: transparent;
}*/
}
@media only screen and (min-width: 1025px) {
.menu-options ul li:hover .quick-links{
	background-color:#2D8068;
}
.menu-options ul li.active .quick-links, 
.menu-options.is-menu-open ul li.active:hover {
    background-color: rgba(0,0,0,.80);
}
}
/* Hamburger Menu Code Starts Here*/
@media (max-width: 568px) {
    .open-aside-menu .header {
        margin-left: 0;
        background-color: #2D8068; /* in mobile view, when the menu is opened, the background of the menu is changed #2D8068 */
    }
}
.aside-menu .menu-title {
    padding: 0px 15px; /* Change padding top to 0px */
    display: flex; /* Change padding top to 0px */
    align-items: center; /* Change padding top to 0px */
}
.aside-menu .menu-subtitle {
    text-transform: uppercase;
    color: #fff;
    padding: 0px 15px; /* Change padding top to 0px */
    font-weight: 700;
}

.aside-menu .menu-item a.haschild {
    background: url('../img/icons/next.png') no-repeat;
    background-position: 96% center;
}

/* Search page cutomization*/
#search .icon {
    margin-bottom:-25px;
}

#search .aside-menu-trigger .icon {
    padding-top: 30px; /* Search page - Hamburger menu position is updated based on close button */
}

.open-aside-menu#search .aside-menu-trigger .icon {
    padding-top: 30px;
}
#search .aside-menu-trigger .hamburger-title {
    padding-top: 18px;
}
#search.open-aside-menu .aside-menu-trigger .hamburger-title {
    padding-top: 5px;
}

.icon-check-new, .icon-close-new, .icon-arrow-down-new, .myanritsu-logo-new, .icon-next-new, .icon-search-new {
    background-image: url('../img/icons/new-icons.png');
}
/* Header customizataion*/
.aside-menu {
    z-index: 9999;
}

.pusher {
    top: 0;
}

.aside-menu-trigger {
    position: fixed;
    width: 56px;
    top: 0;
}

.open-aside-menu .pusher {
    left: 56px;
    position: fixed;
    top: 0;
}
/* Aside */
/* Hamburger  Code*/
.aside-menu-trigger .icon {
    background: none;
    height: 55px;
    width: 56px;
    margin-top: 0;
    padding-top: 20px; /* Match with current production #1 */ /* Make the position as same as the close icon */
}

.icon-burguer .hamburger-menu {
    display: inline-block;
    height: 2px; /* Match with current production #1 */ /* Make the hamburger icon to the correct spec */
    background-color: #FFFFFF;
    width: 22px; /* Make the hamburger icon to the correct spec */
    position: relative;
    /* border-radius: 3px; Match with current production #1 Make the hamburger icon to the correct spec */
}

    .icon-burguer .hamburger-menu:before,
    .icon-burguer .hamburger-menu:after {
        position: absolute;
        left: 0px;
        content: "";
        width: 22px; /* Match with current production #1 */ /* Make the hamburger icon to the correct spec */
        height: 2px; /* Make the hamburger icon to the correct spec */
        /* border-radius: 3px; Match with current production #1 Make the hamburger icon to the correct spec */
        background-color: #fff;
        transition: all 300ms;
    }

    .icon-burguer .hamburger-menu:before {
        top: 7px; /* Match with current production #1 */
    }

    .icon-burguer .hamburger-menu:after {
        top: 14px; /* Match with current production #1 */
    }

.icon-burguer .menu-title {
    display: block;
    line-height: initial;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 10px;
    margin: 13px 0 0 0;
}

.open-aside-menu .aside-menu-trigger .icon {
    transform: none;
    -webkit-transform: none;
    height: 70px;
    width: 56px;
    margin-top: 0;
    padding-top: 20px;
    background: #289B7D;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.open-aside-menu .icon-burguer .hamburger-menu {
    background: none;
}

    .open-aside-menu .icon-burguer .hamburger-menu:before {
        top: 6px;
        transform: rotate(225deg);
    }

    .open-aside-menu .icon-burguer .hamburger-menu:after {
        top: 6px;
        /*transform: rotate(50deg);*/
        transform: rotate(135deg);
    }

/* Hamburger Code End*/


.aside-menu .item {
    top: 0;
    width: 280px;
    left: -280px;
    transition: left 0.4s;
}

    .aside-menu .item.show-menu {
        left: 0;
        background: #289b7d;
        height: 100%;
        z-index: 2;
        width: 280px;
    }

        .aside-menu .item.show-menu.show-menu-level-two {
            left: 280px;
            background: #5FA28D;
            z-index: 1;
        }

            .aside-menu .item.show-menu.show-menu-level-two .menu-item a.haschild {
                background-image: none;
            }

.open-aside-menu .pusher.has-two-level-menu {
    width: 560px;
    z-index: 9999;
    background-color: transparent;
}

.show-menu-level-two .menu-title {
    display: none;
}



.aside-menu .menu-title {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 15px;
    /* padding-top: 12px; Change padding top to 0px #7 */
    padding-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
    height: 38px;
}


.aside-menu .menu-subtitle {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* padding-top: 24px; */ /* vertically align the text in menu-subtitle div */
    padding-bottom: 0px;
    border-bottom: 1px solid #8fd8c5;
    font-size: 16px;
    font-weight: bold;
    height: 70px;
    display: flex; /* vertically align the text in menu-subtitle div */
    align-items: center; /* vertically align the text in menu-subtitle div */
}

.aside-menu .item:first-child .menu-title,
.aside-menu .item.show-menu.show-menu-level-two .menu-title {
    /* padding-top: 24px;  Change padding top to 0px #7 */
    padding-bottom: 0px;
    border-bottom: 1px solid #8fd8c5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 70px;
}

.aside-menu .menu-title span {
    font-size: 16px;
    font-weight: bold;
}

.aside-menu .menu-item a {
    font-size: 14px;
    text-align: left;
    height: auto;
    min-height: 38px;
    max-height: 54px;
    width: 280px;
    border-left-color: transparent;
    padding: 8px 30px 8px 10px;
}


.aside-menu .menu-item a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .aside-menu .menu-item a:hover {
        background-color: #2D8068;
        border-left: 5px solid #00ACE6;
    }

.open-aside-menu .aside-menu:before {
    position: absolute;
    top: 0;
    content: "";
    width: 280px;
    height: 100%;
}

.aside-menu:before {
    left: 0;
    background-color: #289b7d;
}

.aside-menu .menu-title a {
    font-size: 14px;
    font-weight: normal;
    position: relative;
    display: block;
    padding-left: 25px;
    text-transform: capitalize;
}

    .aside-menu .menu-title a:before {
        width: 14px;
        height: 14px;
        position: absolute;
        left: 0px;
        content: "";
        top: 3px;
        /*  background: url(../img/icons/left-arrow.png);*/
        background-image: url(../img/icons/left-arrow.png);
        /*background-position: 0 center;
            background-repeat: no-repeat; 
       /* border-radius: 50%;*/
        /*transform: rotate(180deg)*/;
    }
/* Aside*/


.wrap {
    z-index: 1;
}

.wrap,
.open-aside-menu .wrap {
    margin-left: 56px;
}
/* for iPhone 6/7/8 and Galaxy S5 rotation view, change max-width 767px with 639px */
@media only screen and (max-width: 639px) {


    .open-aside-menu .aside-menu-trigger .icon {
        /* height: 100%; */ /* Hamburger icon position fix for IE */
        padding-top: 10px !important;
    }

    .header {
        padding-right: 0;
    }

    .aside-menu .menu-title {
        width: 100%;
    }

    .aside-menu .menu-item a {
        width: 100%;
    }

    .aside-menu-trigger .icon {
        padding-top: 10px;
    }

    .wrap, .open-aside-menu .wrap {
        margin-left: 0;
    }

    .menu-options {
        display: none;
    }

    .open-aside-menu .aside-menu-trigger {
        left: 0;
    }

    .open-aside-menu .pusher {
        top: 55px;
        left: 0;
        /* width: 100%; */ /* Make the menu cover 100% */
        width: 280px;
        padding-bottom: 55px;
    }

    .header .mobile-logo {
        margin-left: 60px;
    }

    .aside-menu .item {
        width: 100%;
        left: -100%;
    }

    .open-aside-menu .pusher.has-two-level-menu .item.show-menu {
        /*  - left: -100%; */
    }

    .open-aside-menu .pusher.has-two-level-menu {
        /* width: 100%; */ /* Make the menu cover 100% */
        width: 280px;
    }

    .open-aside-menu .aside-menu .item.show-menu.show-menu-level-two {
        left: 0;
        background: #289b7d;
    }

    .show-menu-level-two .menu-title {
        display: block;
    }

    .aside-menu .item.show-menu {
        left: 0;
        background: #289b7d;
        height: 100%;
        z-index: 0;
        width: 100%
    }

    .aside-menu {
        overflow-y: auto !important; /* Hamburger icon position fix for IE */
        overflow-x: hidden;
        background: #289b7d;
        -ms-overflow-style: none;
    }
}
/* for iPhone 6/7/8 and Galaxy S5 rotation view, when it is max-width 767px with 639px then the background of the aside-menu-trigger is #289B7D */
@media only screen and (min-width: 639px) and (max-width: 767px) {
    .global-web.open-aside-menu .aside-menu-trigger {
        background: #2D8068;
    }

    
}
/* for iPhone 6/7/8 and Galaxy S5 rotation view, change max-width 767px with 639px */
/* Hamburger Menu Code Ends Here*/


/*!
 * jQuery Custom Scrollbar
 * https://github.com/mzubala/jquery-custom-scrollbar
 *
 * Released under the MIT license
 */
.scrollable {
    position: relative;
}

    .scrollable:focus {
        outline: 0;
    }

    .scrollable .viewport {
        position: relative;
        overflow: hidden;
    }

        .scrollable .viewport .overview {
            position: absolute;
        }

    .scrollable .scroll-bar {
        display: none;
    }

        .scrollable .scroll-bar.vertical {
            position: absolute;
            right: 0;
            height: 100%;
        }

        .scrollable .scroll-bar.horizontal {
            position: relative;
            width: 100%;
        }

        .scrollable .scroll-bar .thumb {
            position: absolute;
        }

        .scrollable .scroll-bar.vertical .thumb {
            width: 100%;
            min-height: 10px;
        }

        .scrollable .scroll-bar.horizontal .thumb {
            height: 100%;
            min-width: 10px;
            left: 0;
        }

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Default skin*/

.scrollable.default-skin {
    padding-right: 10px;
    padding-bottom: 6px;
}

    .scrollable.default-skin .scroll-bar {
        background-color: #7EB4A6;
    }

        .scrollable.default-skin .scroll-bar.vertical {
            width: 6px;
        }

        .scrollable.default-skin .scroll-bar.horizontal {
            height: 0px;
        }

        .scrollable.default-skin .scroll-bar .thumb {
            background-color: #1C685C;
            opacity: 1;
            border-radius: 3px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
        }

        .scrollable.default-skin .scroll-bar:hover .thumb {
            opacity: 1;
        }

/*Gray skin*/

.scrollable.gray-skin {
    padding-right: 17px;
}

    .scrollable.gray-skin .scroll-bar {
        border: 1px solid gray;
        background-color: #d3d3d3;
    }

        .scrollable.gray-skin .scroll-bar .thumb {
            background-color: gray;
        }

        .scrollable.gray-skin .scroll-bar:hover .thumb {
            background-color: black;
        }

        .scrollable.gray-skin .scroll-bar.vertical {
            width: 10px;
        }

        .scrollable.gray-skin .scroll-bar.horizontal {
            height: 10px;
            margin-top: 2px;
        }

/*Modern skin*/
.scrollable.modern-skin {
    padding-right: 17px;
}

    .scrollable.modern-skin .scroll-bar {
        border: 1px solid gray;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-box-shadow: inset 0 0 5px #888;
        -webkit-box-shadow: inset 0 0 5px #888;
        box-shadow: inset 0 0 5px #888;
    }

        .scrollable.modern-skin .scroll-bar .thumb {
            background-color: #95aabf;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border: 1px solid #536984;
        }

        .scrollable.modern-skin .scroll-bar.vertical .thumb {
            width: 8px;
            background: -moz-linear-gradient(left, #95aabf 0%, #547092 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, #95aabf), color-stop(100%, #547092));
            background: -webkit-linear-gradient(left, #95aabf 0%, #547092 100%);
            background: -o-linear-gradient(left, #95aabf 0%, #547092 100%);
            background: -ms-linear-gradient(left, #95aabf 0%, #547092 100%);
            background: linear-gradient(to right, #95aabf 0%, #547092 100%);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#95aabf', endColorstr='#547092',GradientType=1 )";
        }

        .scrollable.modern-skin .scroll-bar.horizontal .thumb {
            height: 8px;
            background-image: linear-gradient(#95aabf, #547092);
            background-image: -o-linear-gradient(#95aabf, #547092);
            background-image: -moz-linear-gradient(#95aabf, #547092);
            background-image: -webkit-linear-gradient(#95aabf, #547092);
            background-image: -ms-linear-gradient(#95aabf, #547092);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#95aabf', endColorstr='#547092',GradientType=0 )";
        }

        .scrollable.modern-skin .scroll-bar.vertical {
            width: 10px;
        }

        .scrollable.modern-skin .scroll-bar.horizontal {
            height: 10px;
            margin-top: 2px;
        }

/*!
 * jQuery Custom Scrollbar
 * https://github.com/mzubala/jquery-custom-scrollbar
 *
 * Released under the MIT license
 */

/*!
 * T&M - Product Page - Megamenu Overrides Starts 
 */

.column-title {
    font-size: 16px;
    color: #000;
}

    .column-title:before {
        font-size: 16px;
        background-color: transparent;
    }

    .column-title a {
        font-size: 16px;
        color: #2b7690;
    }

        .column-title a:hover {
            color: #44bde9;
        }

.mega-menu-3columns {
    width: 33%;
}

    .mega-menu-3columns ul li {
        margin-bottom: 5px;
    }

        .mega-menu-3columns ul li a {
            font-size: 16px;
            color: #2b7690;
        }

            .mega-menu-3columns ul li a:hover {
                color: #44bde9;
                font-weight: normal;
            }

@media screen and (max-width: 780px) {
    .mega-menu-3columns {
        width: 49%;
    }
}

@media screen and (max-width: 768px) {
    .mega-menu-3columns {
        width: 49%;
    }
}

@media screen and (max-width:568px) {
    .mega-menu-3columns {
        width: calc(100% - 20px);
        margin-left: 20px;
    }

        .mega-menu-3columns .column-title {
            padding-left: 0;
        }

        .mega-menu-3columns ul {
            margin-left: 10px;
        }
}

@media screen and (max-width: 959px) {
    .breadcrumb {
        display: none;
    }
}

.content-form .content-detail.width70 {
    padding: 0 20px 20px 20px;
}

.content-form .content-detail.width70 h1 {
        margin-top: 0;
    }


/*!
 * T&M - Product Page - Megamenu Overrides Ends
 */
