




/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
font-family: sans-serif; /* 1 */
-ms-text-size-adjust: 100%; /* 2 */
-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
margin: 0;
}

/* HTML5 display definitions
 ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,canvas,progress,video {
display: inline-block; /* 1 */
vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
display: none;
height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],template {
display: none;
}

/* Links
 ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,a:hover {
outline: 0;
}

/* Text-level semantics
 ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,strong {
font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
font-size: 2em;
margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
background: #ff0;
color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}

sup {
top: -0.5em;
}

sub {
bottom: -0.25em;
}

/* Embedded content
 ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
overflow: hidden;
}

/* Grouping content
 ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
-moz-box-sizing: content-box;
box-sizing: content-box;
height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,kbd,pre,samp {
font-family: monospace, monospace;
font-size: 1em;
}

/* Forms
 ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,input,optgroup,select,textarea {
color: inherit; /* 1 */
font: inherit; /* 2 */
margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,select {
text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,html input[type="button"], /* 1 */
input[type="reset"],input[type="submit"] {
-webkit-appearance: button; /* 2 */
cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],html input[disabled] {
cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,input::-moz-focus-inner {
border: 0;
padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],input[type="radio"] {
box-sizing: border-box; /* 1 */
padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
-webkit-appearance: textfield; /* 1 */
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box; /* 2 */
box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
border: 1px solid #c0c0c0;
margin: 0 2px;
padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
border: 0; /* 1 */
padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
font-weight: bold;
}

/* Tables
 ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
border-collapse: collapse;
border-spacing: 0;
}

td,th {
padding: 0;
}
body {
    font: 14px/1.6em "Segoe UI,Helvetica Neue,Helvetica,Arial, sans-serif;background:#fff;color:#000;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%}a{color:#000;text-decoration:none}.icon{display:inline-block;vertical-align:middle}.wrap{padding-left:60px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.full-container{zoom:1;margin:0 auto;min-width:900px;width:100%;margin-bottom:35px}.full-container:before,.full-container:after{content:"";display:table}.full-container:after{clear:both}.container{zoom:1;width:900px;padding:0 10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 auto;margin-bottom:35px}.container:before,.container:after{content:"";display:table}.container:after{clear:both}.align-center{text-align:center}.align-right{text-align:right}.lbox{margin:10px}.img100{width:100%;display:block}.imgright{float:right;margin:10px;display:block}.button{text-transform:uppercase;border:none;color:#fff;white-space:nowrap;cursor:pointer;-webkit-user-drag:none;-webkit-user-select:none;zoom:1;padding:10px 24px;-webkit-border-radius:6px;border-radius:6px;display:inline-block;text-decoration:none;font-size:16px;background:#44bde9;font-weight:bold;}.button:hover{background:#2b7690}.button.transparent{background:transparent;border:2px solid #44bde9;color:#44bde9;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}.button.transparent:hover{border:2px solid #2b7690;color:#2b7690}.skipnav a{position:absolute;left:-100000px;width:1px;height:1px;overflow:hidden;z-index:10001}.announcement{padding:15px 10px;background:#705a9c;color:#fff;text-align:center;}.announcement .icon{margin:7px 20px}.announcement .text{display:inline;line-height:1.3em;}.announcement .text a{color:#fff;margin:0 15px}#totop{width:30px;position:absolute;top:-45px;left:50%;cursor:pointer;height:30px;line-height:30px;font-size:18px;text-align:center;color:#999}.swipe{overflow:hidden;visibility:hidden;position:relative;}.swipe .swipe-wrap{overflow:hidden;position:relative}.swipe .swipe-wrap > div{float:left;width:100%;position:relative}.swipe .swipe-bullets{position:absolute;bottom:22px;text-align:center;width:100%;}.swipe .swipe-bullets .bullet{background:transparent;width:5px;height:5px;-webkit-border-radius:100%;border-radius:100%;border:2px solid #fff;margin:0 5px;display:inline-block;}.swipe .swipe-bullets .bullet.active{background:#fff}.swipe .swipe-controls .prev{position:absolute;width:50px;height:50px;margin-top:-25px;left:0;text-align:center;top:50%;overflow:hidden;cursor:pointer}.swipe .swipe-controls .next{position:absolute;width:50px;height:50px;margin-top:-25px;right:0;text-align:center;top:50%;overflow:hidden;cursor:pointer}.white-popup{max-width:600px;margin:0 auto;background:#fff;padding:20px;position:relative}.grey-popup{max-width:600px;margin:0 auto;background:#4a4e50;padding:20px 0;position:relative} div.ac { 
position: absolute;
display: none;
overflow: auto;
z-index:999999;
}

div.ac > ul {
margin: 0px;
padding: 0px;
color:#fff;
background:rgba(0,0,0,0.7);
font-size:16px;
margin-top:22px;
}

div.ac > ul > li {
margin: 0px;
list-style-type: none;
word-break: break-all;
}

div.ac > ul > li > div {
display: table-row;
width: 100%;
}

div.ac > ul > li > div em {
font-style: normal;
font-weight:bold;
}

div.ac > ul > li.normal {
padding: 5px 10px 5px 10px;
}

div.ac > ul > li.normal > div > span{
display: table-cell;
vertical-align: middle;
}

div.ac > ul > li.iconList {
padding: 0px 0px 0px 2px;
}

div.ac > ul > li.iconList > div > div {
display: table-cell;
vertical-align: middle;
padding-right: 5px;
}

div.ac > ul > li.iconList > div > div > img {
display: table;
display: table-cell\9;
}   

div.ac > ul > li.iconList > div > span {
display: table-cell;
vertical-align: middle;
}

div.ac > ul > li.selected {
background:#1F9C7D;
color:#fff;
}

/* Magnific Popup CSS */
.mfp-bg {
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1042;
overflow: hidden;
position: fixed;
background: #0b0b0b;
opacity: 0.8;
filter: alpha(opacity=80); }

.mfp-wrap {
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1043;
position: fixed;
outline: none !important;
-webkit-backface-visibility: hidden; }

.mfp-container {
text-align: center;
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
padding: 0 8px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; }

.mfp-container:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle; }

.mfp-align-top .mfp-container:before {
display: none; }

.mfp-content {
position: relative;
display: inline-block;
vertical-align: middle;
margin: 0 auto;
text-align: left;
z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
width: 100%;
cursor: auto; }

.mfp-ajax-cur {
cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
cursor: -moz-zoom-out;
cursor: -webkit-zoom-out;
cursor: zoom-out; }

.mfp-zoom {
cursor: pointer;
cursor: -webkit-zoom-in;
cursor: -moz-zoom-in;
cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
-webkit-user-select: none;
-moz-user-select: none;
user-select: none; }

.mfp-loading.mfp-figure {
display: none; }

.mfp-hide {
display: none !important; }

.mfp-preloader {
color: #cccccc;
position: absolute;
top: 50%;
width: auto;
text-align: center;
margin-top: -0.8em;
left: 8px;
right: 8px;
z-index: 1044; }
.mfp-preloader a {
  color: #cccccc; }
  .mfp-preloader a:hover {
    color: white; }

.mfp-s-ready .mfp-preloader {
display: none; }

.mfp-s-error .mfp-content {
display: none; }

button.mfp-close, button.mfp-arrow {
overflow: visible;
cursor: pointer;
background: transparent;
border: 0;
-webkit-appearance: none;
display: block;
outline: none;
padding: 0;
z-index: 1046;
-webkit-box-shadow: none;
box-shadow: none; }
button::-moz-focus-inner {
padding: 0;
border: 0; }

.mfp-close {
width: 44px;
height: 44px;
line-height: 44px;
position: absolute;
right: 0;
top: 0;
text-decoration: none;
text-align: center;
opacity: 0.65;
filter: alpha(opacity=65);
padding: 0 0 18px 10px;
color: white;
font-style: normal;
font-size: 28px;
font-family: Arial, Baskerville, monospace; }
.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100); }
.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
color: #333333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
color: white;
right: -6px;
text-align: right;
padding-right: 6px;
width: 100%; }

.mfp-counter {
position: absolute;
top: 15px;
left: 0;
color: #cccccc;
font-size: 12px;
line-height: 18px; }
.mfp-share{
position:absolute;
right:0px;
color:#fff;
top:0px;
}
.mfp-arrow {
position: absolute;
opacity: 0.65;
filter: alpha(opacity=65);
margin: 0;
top: 50%;
margin-top: -55px;
padding: 0;
width: 90px;
height: 110px;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.mfp-arrow:active {
  margin-top: -54px; }
.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100); }
.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }
.mfp-arrow:after, .mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }
.mfp-arrow:before, .mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
left: 0; }
.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
  border-right: 17px solid white;
  margin-left: 31px; }
.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f; }

.mfp-arrow-right {
right: 0; }
.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
  border-left: 17px solid white;
  margin-left: 39px; }
.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
  border-left: 27px solid #3f3f3f; }

.mfp-iframe-holder {
padding-top: 40px;
padding-bottom: 40px; }
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }
.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
width: 100%;
height: 0;
overflow: hidden;
padding-top: 56.25%; }
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black; }

/* Main image in popup */
img.mfp-img {
width: auto;
max-width: 100%;
height: auto;
display: block;
line-height: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 40px 0 40px;
margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
line-height: 0; }
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444444; }
.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px; }
.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
margin-top: -36px;
position: absolute;
top: 100%;
left: 0;
width: 100%;
cursor: auto; }

.mfp-title {
text-align: left;
line-height: 18px;
color: #f3f3f3;
word-wrap: break-word;
padding-right: 36px; }

.mfp-image-holder .mfp-content {
max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
/**
     * Remove all paddings around the image on small screen
     */
.mfp-img-mobile .mfp-image-holder {
  padding-left: 0;
  padding-right: 0; }
.mfp-img-mobile img.mfp-img {
  padding: 0; }
.mfp-img-mobile .mfp-figure:after {
  top: 0;
  bottom: 0; }
.mfp-img-mobile .mfp-figure small {
  display: inline;
  margin-left: 5px; }
.mfp-img-mobile .mfp-bottom-bar {
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  margin: 0;
  top: auto;
  padding: 3px 5px;
  position: fixed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }
.mfp-img-mobile .mfp-counter {
  right: 5px;
  top: 3px; }
.mfp-img-mobile .mfp-close {
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  text-align: center;
  padding: 0; } }

@media all and (max-width: 900px) {
.mfp-arrow {
  -webkit-transform: scale(0.75);
  transform: scale(0.75); }
.mfp-arrow-left {
  -webkit-transform-origin: 0;
  transform-origin: 0; }
.mfp-arrow-right {
  -webkit-transform-origin: 100%;
  transform-origin: 100%; }
.mfp-container {
  padding-left: 6px;
  padding-right: 6px; } }

.mfp-ie7 .mfp-img {
padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
width: 600px;
left: 50%;
margin-left: -300px;
margin-top: 5px;
padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
padding: 0; }
.mfp-ie7 .mfp-content {
padding-top: 44px; }
.mfp-ie7 .mfp-close {
top: 0;
right: 0;
padding-top: 0; }


.custom-select {
position: relative;
}
.custom-select select {
position: absolute;
-webkit-appearance:initial;
top: 0;
right: 0;
padding: 0;
opacity: 0.001; 
filter:alpha(opacity=1); 
height:32px;
line-height:32px;
}
.custom-select select,.custom-select .btn-select {
/* the hidden select and the button should line up */
width: 100%; 
padding: 4px 8px;
}
.custom-select select{
color:#333;
}
.custom-select .btn-select {
position: relative;
display: inline-block;
border: 1px solid #979797;
box-sizing:border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
}
.btn-select.btn-focus {
}
.custom-select .btn-select:after {
content: "▼"; 
display: block;
width: 20px;
height: 20px;
position: absolute;
background-size:10px;
top: 5px;
right: 0;
background-position: .2em .4em;
}
.custom-select .label-text {
display: inline-block;
padding: 0 1em .3em 0;
}
div.ac > ul{margin-top:6px}body{background:#f5f5f5}.container{width:100%;padding:0}.aside-menu-content{position:absolute;left:-280px;top:50px;bottom:0;background:#289b7d;width:280px;z-index:1000;-webkit-transition:left 0.5s ease-in-out;-moz-transition:left 0.5s ease-in-out;-o-transition:left 0.5s ease-in-out;-ms-transition:left 0.5s ease-in-out;transition:left 0.5s ease-in-out;}.aside-menu-content .nav-link a{text-transform:uppercase;font-weight:bold;font-size:12px;display:block;background:#4a4e50;color:#fff;padding:8px 10px;border-left:5px solid #4a4e50}body.open .aside-menu-content{left:0;top:50px}body.open .header .logo{display:none}body.open .header .nav{display:none}body.open .header .menu-btn{background:#2d8068;width:100%;position:relative;margin:0;height:50px;text-align:left;}body.open .header .menu-btn .icon-burguer{margin-left:5px;margin-top:15px;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}body.open-search .header .logo{display:none}body.open-search .header .nav{display:none}body.open-search .header .search-bar{display:block}body.open-search .header .menu-btn{display:none}.menu{overflow-y:auto;height:100%;position:relative;}.menu .menu-level1{left:0;width:100%;position:absolute}.menu .menu-level2{left:-280px;position:absolute;width:100%}.menu .menu-level3{left:-280px;position:absolute;width:100%}.menu .menu-title{padding:20px 15px;}.menu .menu-title a{color:#fff;font-size:16px;padding-left:15px;background-image:url("../img/icons/prev.png");background-position:0 center;background-repeat:no-repeat}@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution:138dpi),(min-resolution:1.5dppx){.menu .menu-title a{background-image:url("../img/icons/prev@2x.png");-webkit-background-size:8px 12px;-moz-background-size:8px 12px;background-size:8px 12px}}.menu .menu-subtitle{text-transform:uppercase;color:#fff;padding:8px 15px}.menu .menu-item a{display:block;padding:8px 10px;color:#fff;border-left:5px solid #289b7d;position:relative;background-repeat:no-repeat;}.menu .menu-item a:hover{background-color:#2d8068;border-left:5px solid #44bde9}.menu .menu-item a.haschild{background-image:url("../img/icons/next.png");background-position:95% center}@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution:138dpi),(min-resolution:1.5dppx){.menu .menu-item a.haschild{background-image:url("../img/icons/next@2x.png");-webkit-background-size:8px 12px;-moz-background-size:8px 12px;background-size:8px 12px}}.menu .menu-item a.outbound{background-image:url("../img/icons/outbound.png");background-position:95% center}@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution:138dpi),(min-resolution:1.5dppx){.menu .menu-item a.outbound{background-image:url("../img/icons/outbound@2x.png");-webkit-background-size:10px 10px;-moz-background-size:10px 10px;background-size:10px 10px}}.header{background:#289b7d;z-index:999;width:100%;overflow:hidden;zoom:1;height:50px;}.header:before,.header:after{content:"";display:table}.header:after{clear:both}.header .logo{color:#fff;float:left;margin-left:10px;line-height:1em;font-size:12px;padding:11px}.header .search-bar{display:none;position:relative;width:100%;background:#289b7d;}.header .search-bar input{width:85%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;margin:5px;background:transparent;border:none;-webkit-border-radius:100em;border-radius:100em;background-color:#2d8068;color:#fff;padding:11px;padding-right:50px;}.header .search-bar input:focus{outline:0}.header .search-bar span{color:#96bfb3;margin-left:-40px;padding-top:13px;display:inline-block}.header .search-bar .icon.icon-close{float:right;margin-top:20px;margin-right:20px}.header .nav{float:right;margin-top:13px;}.header .nav a{margin:0 10px}.header .menu-btn{float:left;margin-left:10px;margin-top:13px;}.header .menu-btn .icon-burguer{-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;height:20px}#products-slider .slider{-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;background-repeat:no-repeat;background-position:center center;}#products-slider .slider .text{min-height:460px;position:relative;}#products-slider .slider .text .hd{position:absolute;width:100%;top:0;padding:20px 0;left:0;text-align:center;zoom:1;min-height:60px;}#products-slider .slider .text .hd:before,#products-slider .slider .text .hd:after{content:"";display:table}#products-slider .slider .text .hd:after{clear:both}#products-slider .slider .text .hd .title{font-size:16px}#products-slider .slider .text .hd .link{position:absolute;right:10px;width:140px;top:10px;}#products-slider .slider .text .hd .link .button{font-size:10px;font-weight:100;margin:5px;width:80px;font-weight:bold;text-align:center;padding:5px 10px}#products-slider .slider .text .fd{position:absolute;width:100%;bottom:30px;left:0;padding:20px 0;text-align:center;}#products-slider .slider .text .fd .name{font-size:12px;font-weight:bold}#products-slider .slider .text .fd .simple-link{color:#44bde9;}#products-slider .slider .text .fd .simple-link span{margin:0 15px}#products-slider .slider .text .fd .simple-link a{color:#44bde9}#products-slider .slider .text .fd .link .button{font-size:10px;font-weight:100;margin:5px;width:80px;font-weight:bold;text-align:center;padding:5px 0}#home-slider .slider{-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;background-repeat:no-repeat;background-position:center center;}#home-slider .slider .link{position:absolute;bottom:60px;left:0;width:100%;text-align:center}.hero-menu{zoom:1;}.hero-menu:before,.hero-menu:after{content:"";display:table}.hero-menu:after{clear:both}.hero-menu .item{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;zoom:1;border-bottom:5px solid #289b7d;background:#fff;padding-top:5px;}.hero-menu .item:before,.hero-menu .item:after{content:"";display:table}.hero-menu .item:after{clear:both}.hero-menu .item img{display:block;height:45px;float:left;margin-bottom:-5px}.hero-menu .item .link{padding-left:80px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}.hero-menu .item .link a{text-decoration:none;font-size:14px;padding:8px 0;display:block;font-weight:bold;text-transform:uppercase;}.hero-menu .item .link a:after{content:">";color:#9b9b9b;font-size:20px;float:right;margin-top:0;margin-right:10px;font-weight:100}.home-tab{margin:0 10px;zoom:1;-webkit-border-radius:6px;border-radius:6px;overflow:hidden;}.home-tab:before,.home-tab:after{content:"";display:table}.home-tab:after{clear:both}.home-tab .section{position:relative;display:none;padding:0 15px;padding-bottom:30px;background:#fff;}.home-tab .section.active{display:block}.home-tab .section p{margin:0;padding:10px 0;}.home-tab .section p a:hover{text-decoration:underline}.home-tab .section p .date{font-weight:bold;display:block}.home-tab .section .more{position:absolute;right:15px;bottom:5px;color:#00c4f5;font-weight:bold;text-transform:uppercase;font-size:12px}.home-tab ul{width:100%;margin:0;padding:0;list-style:none;zoom:1;}.home-tab ul:before,.home-tab ul:after{content:"";display:table}.home-tab ul:after{clear:both}.home-tab ul li{float:left;width:32%;margin-right:2%;}.home-tab ul li:last-child{margin-right:0}.home-tab ul li a{display:block;width:100%;height:40px;display:table;text-align:center;text-decoration:none;text-transform:uppercase;}.home-tab ul li a span{display:table-cell;color:#5c5c5c;height:100%;line-height:1.1em;vertical-align:middle;background:#d1d2d5;border-top-left-radius:6px;border-top-right-radius:6px}.home-tab ul li a.active span{background:#fff}.home-tab ul li a:focus{outline:none}.home-tab ul li a:hover span{color:#000}.footer{background:#788287;margin-top:60px;padding:30px 15px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#fff;position:relative;font-size:10px;zoom:1;}.footer:before,.footer:after{content:"";display:table}.footer:after{clear:both}.footer .site-info{width:50%;float:left;}.footer .site-info a{display:block;width:100%;color:#fff}.footer .copy-right{margin-top:22px;width:50%;float:right;text-align:right}.products{text-align:center;}.products .products-content{display:table-cell;display:none;width:100%;height:100%;vertical-align:middle;color:#fff}.products h1{font-weight:100;font-size:42px;margin:0;margin-bottom:30px;line-height:1.2em}.products h2{font-weight:100;font-size:24px;margin:0;margin-bottom:35px;line-height:1.2em}.products p{max-width:560px;margin:0 auto}.products-list .row{zoom:1}.products-list .row:before,.products-list .row:after{content:"";display:table}.products-list .row:after{clear:both}.products-list .item .title{font-size:16px;color:#333;padding:16px 10px;text-transform:uppercase;border-bottom:1px solid #e0e0e0;background:#fff;zoom:1;cursor:pointer;}.products-list .item .title:before,.products-list .item .title:after{content:"";display:table}.products-list .item .title:after{clear:both}.products-list .item .title:after{content:"+";font-size:24px;line-height:20px;color:#999;float:right}.products-list .item.active .title{border-bottom:0}.products-list .item.active .title:after{content:"-";font-size:40px;height:20px;line-height:20px;font-weight:100}.products-list .item.active .text{display:block}.products-list .item .text{display:none;background:#f5f5f5;color:#333;zoom:1;}.products-list .item .text:before,.products-list .item .text:after{content:"";display:table}.products-list .item .text:after{clear:both}.products-list .item .text p{margin:0;padding:15px 10px;}.products-list .item .text p a{color:#00c4f5}.products-list .item .text .img img{display:block;width:100%}.products-list .item .text a.learnmore{color:#00c4f5;text-transform:uppercase;font-size:12px;font-weight:bold}.products-family{background:url("http://placehold.it/1400x600") no-repeat center center;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;height:280px;display:table;width:100%;text-align:left;}.products-family .products-content{display:table-cell;width:100%;height:100%;vertical-align:middle;color:#000;}.products-family .products-content h1{font-weight:100;font-size:42px;line-height:1.5em;padding:0 50px}.products-family-content{padding:20px;}.products-family-content p{margin:0;margin-bottom:30px}.products-table{padding:0 20px;}.products-table table{width:100%;color:#333;}.products-table table img{display:block;margin:10px auto}.products-table table thead th{color:#fff;background:#bebdbd;padding:10px 0;text-align:center;}.products-table table thead th:first-child{border-top-left-radius:10px}.products-table table thead th:last-child{border-top-right-radius:10px}.products-table table tbody .status{position:relative;}.products-table table tbody .status .img{position:absolute;left:0;top:-10px}.products-table table tbody td{text-align:center;background:#f7f7f7;border-bottom:5px solid #fff;vertical-align:middle}.products-table table tbody td.border b{display:block;border-right:1px solid #e8e7e7;padding:30px 5px}.products-table table tbody td.border span{display:block;border-right:1px solid #e8e7e7;padding:30px 5px}.signup-promo{background:#44bde9;padding:15px 20px;text-align:center;font-size:20px;color:#fff;}.signup-promo .button{margin:10px;padding:7px 25px;font-size:12px;border:1px solid #fff}.products-info{background:#dcdfe0;zoom:1;height:40px;line-height:40px;}.products-info:before,.products-info:after{content:"";display:table}.products-info:after{clear:both}.products-info .title{color:#333;font-size:14px;font-weight:bold;padding-left:20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-transform:uppercase;margin:0 auto;display:inline-block}.products-info .action{display:inline-block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-left:20px;height:40px;}.products-info .action a{color:#44bde9;font-weight:bold}.products-tech .item{zoom:1;margin:0 auto;position:relative;background:#fff;}.products-tech .item:before,.products-tech .item:after{content:"";display:table}.products-tech .item:after{clear:both}.products-tech .item.active .title{color:#44bde9}.products-tech .item.active .title:after{content:"-";font-size:40px;top:10px}.products-tech .item.active .content{display:block;border-bottom:1px solid #999}.products-tech .item .title{font-size:14px;padding:10px 0;padding-right:20px;font-weight:bold;color:#5c5c5c;margin:0 20px;border-bottom:1px solid #999;}.products-tech .item .title:after{content:"+";font-size:24px;color:#999;position:absolute;right:20px;top:10px}.products-tech .item .content{zoom:1;margin:0 20px;display:none;}.products-tech .item .content:before,.products-tech .item .content:after{content:"";display:table}.products-tech .item .content:after{clear:both}.products-tech .item .content .text a{color:#44bde9}.products-tech .item .content .device{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}.products-tech .item .content .device a{display:block;margin-bottom:10px;}.products-tech .item .content .device a:hover{font-weight:bold;color:#44bde9}.tab-slider .slider{zoom:1}.tab-slider .slider:before,.tab-slider .slider:after{content:"";display:table}.tab-slider .slider:after{clear:both}.tab-slider .item{width:100%;padding-top:20px;text-align:center;}.tab-slider .item .name{margin:0}.tab-slider .item .tag{font-weight:bold}.product-detail{background:#c4cacd;}.product-detail .container{padding:0 30px}.product-detail .row{zoom:1;width:100%;height:300px}.product-detail .row:before,.product-detail .row:after{content:"";display:table}.product-detail .row:after{clear:both}.product-detail .left{width:50%;vertical-align:middle;float:left;}.product-detail .left .cate{font-size:24px;line-height:32px;padding:10px 0;margin-top:30px}.product-detail .left .name{font-size:32px;padding:20px 0;line-height:1.2;}.product-detail .left .action{padding:10px 0;}.product-detail .left .action .button{font-size:12px;width:120px;text-align:center;margin:5px}.product-detail .right{width:50%;float:right}.product-detail-tab{border:1px solid #eee;-webkit-border-radius:3px;border-radius:3px;overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}.product-detail-tab>ul{list-style:none;margin:0;padding:0;display:block;zoom:1;}.product-detail-tab>ul:before,.product-detail-tab>ul:after{content:"";display:table}.product-detail-tab>ul:after{clear:both}.product-detail-tab>ul li{float:left;width:20%;border-right:1px solid #c2c3c5;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:12px;text-transform:uppercase;font-weight:bold;}.product-detail-tab>ul li:last-child{border:0}.product-detail-tab>ul li a{padding:10px 0;text-align:center;color:#979a9e;display:block;background:#d1d2d5;}.product-detail-tab>ul li a:focus{outline:none}.product-detail-tab>ul li a.active{background:#fff;color:#000}.product-detail-tab .section{display:none;}.product-detail-tab .section:focus{outline:none}.product-detail-tab .section.active{display:block}.site-guide .button{font-size:12px;padding:5px 8px}.site-guide .hd{font-size:18px;padding:5px 0;text-transform:uppercase}.site-guide .img{display:block;}.site-guide .img a{display:block}.site-guide .item1{padding:10px}.site-guide .item2{padding:10px}.site-guide .item3{background:#fff}.site-guide .item3 .hd{padding:10px}.site-guide .item4{background:#fff}.site-guide .item4 .hd{padding:10px}.site-guide .item5{background:#fff}.site-guide .item5 .hd{padding:10px}.site-guide .row{zoom:1;}.site-guide .row:before,.site-guide .row:after{content:"";display:table}.site-guide .row:after{clear:both}.site-guide .row .item{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}.site-guide .row .item img{display:block;width:100%}#modal-country .mfp-close{color:#fff}#modal-country .hd{font-weight:bold;color:#fff;border-bottom:1px solid #5d6061;padding:0 20px;padding-bottom:20px}#modal-country .bd{zoom:1;padding:20px;}#modal-country .bd:before,#modal-country .bd:after{content:"";display:table}#modal-country .bd:after{clear:both}#modal-country .bd a{margin-left:0;font-size:12px;margin-bottom:5px;color:#fff;width:50%;float:left}.country-confirm{position:absolute;top:50px;left:0;width:100%;background:rgba(0,0,0,0.7);position:absolute;color:#fff;padding:10px 0;}.country-confirm .hd{font-weight:bold;padding:10px 20px;zoom:1;}.country-confirm .hd:before,.country-confirm .hd:after{content:"";display:table}.country-confirm .hd:after{clear:both}.country-confirm .hd .current{float:left;margin-right:20px;width:80%}.country-confirm .hd .icon{float:right;cursor:pointer;margin-top:10px}.country-confirm .bd{padding:10px 20px;zoom:1;}.country-confirm .bd:before,.country-confirm .bd:after{content:"";display:table}.country-confirm .bd:after{clear:both}.country-confirm .bd .select-box{float:left;width:50%}.country-confirm .bd .button{float:right;width:40%;font-size:12px;line-height:1em;border:0;-webkit-border-radius:0;border-radius:0}