﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ManageLinks.aspx.cs" Inherits="Anritsu.WebApp.GlobalWeb.ManageLinks" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        Link Management Sample Form
    </div>
    </form>
</body>
</html>
