﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Analytics.ascx.cs" Inherits="Anritsu.WebApp.GlobalWeb.SubLayouts.Analytics" %>
<%@ Register tagPrefix="sc" namespace="Sitecore.Web.UI.WebControls" assembly="Sitecore.Kernel"  %>
<sc:Text ID="Script" runat="server" Field="Script" />