﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AnritsuDevices.ascx.cs" Inherits="Anritsu.WebApp.GlobalWeb.SubLayouts.AnritsuDevices" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>
