﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Honeypot.ascx.cs" Inherits="Anritsu.WebApp.GlobalWeb.SubLayouts.Honeypot" %>
<input type="hidden" id="txtUserInteractionIdentifier" class="txtUserInteractionIdentifier" runat="server" name="txtUserInteractionIdentifier" value="green" />

