﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ImageWithTitleAndDescription.ascx.cs" Inherits="Anritsu.WebApp.GlobalWeb.SubLayouts.ImageWithTitleAndDescription" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>
