﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="NewsAndEventsSearch.ascx.cs" Inherits="Anritsu.WebApp.GlobalWeb.SubLayouts.NewsAndEventsSearch" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>