﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ScriptRenderer.ascx.cs" Inherits="Anritsu.WebApp.GlobalWeb.SubLayouts.ScriptRenderer" %>
<asp:Literal ID="RenderScripts" runat="server"></asp:Literal>