﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="StaticTitleWithDescription.ascx.cs" Inherits="Anritsu.WebApp.GlobalWeb.SubLayouts.StaticTitleWithDescription" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>
