﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TextRenderer.ascx.cs" Inherits="Anritsu.WebApp.GlobalWeb.SubLayouts.TextRenderer" %>

<sc:Text runat="server" Field="Script" ID="ShanonScript"></sc:Text>