﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UFAHeader.ascx.cs"
     Inherits="Anritsu.WebApp.GlobalWeb.SubLayouts.UFAHeader" %>

<style type= "text/css">
	.divUniversalForm {
        font-family:"FrutigerLTW02-45Light",Helvetica,Arial,sans-serif;
        font-weight:normal;		
		Bottom:0px;
        Right:0px;
        Width:798px; 
        Top:143px;
        Overflow-y:auto;
        }	

    .error-message{
            color:#f5a623
        }
</style>
	
