﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="AjaxLayout.aspx.cs" Inherits="Anritsu.WebApp.GlobalWeb.Layouts.AjaxLayout" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>
<sc:placeholder runat="server" key="Content" />
