﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="SpAcs.aspx.cs" Inherits="Anritsu.WebApp.GlobalWeb.SSO.SpAcs" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Processing..</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>