﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SideNavigationStatic.ascx.cs" Inherits="Anritsu.WebApp.Infivis.SubLayouts.SideNavigationStatic" %>
<%@ Import Namespace="Anritsu.WebApp.Infivis.Models" %>
<%@ Import Namespace="Anritsu.WebApp.Infivis.Models.Components" %>
<%@ Import Namespace="Anritsu.WebApp.Infivis.Constants" %>

<%--Debu side navigation--%>
<asp:Literal ID="NavigationCode" runat="server"></asp:Literal>