/* T11 fix styles */

.container .promo-items .item .text h2 a {
    color: #000;
}
/* common classes */

.hiddentxt {
    display: none;
}
.marginLeft {
    margin-left: 3px;
}
.paddingLeft {
    padding-left: 25px;
}
.floatLft {
    float: left;
}
/* read more link style */

.morecontent {
    display: inline;
}
.morelink {
    font-weight: bold;
}
.morelink span {
    margin-left: 2px;
}
#maincontent .content-form .content-aside {
    padding: 40px 30px;
}
.content-detail p {
    text-align: justify;
}
/* video gallery level 3 change */

.video-filter-left .result-filter .level3 .level3-item {
    padding: 5px 20px 5px 40px;
    position: relative;
}
.video-filter-left .result-filter .level4 .level4-item {
    padding: 5px 20px 5px 60px;
    color: #a2a2a2;
}
.result-filter .level3 .level3-item .icon {
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 10px;
}
.result-filter .level3.on .level4 {
    display: block;
}
.result-filter .level4 {
    display: none;
}
.result-filter input[type=checkbox] {
    margin-right: 8px;
}
.iconStyles {
    cursor: pointer;
    margin: 5px 10px 0 0;
    float: right;
}
.level2hd {
    color: #6b6b6b;
}
.level3hd {
    color: #a2a2a2;
}
.result-filter .level1_ul li {
    padding-top: 5px;
}
.result-filter .level1_ul {
    padding-left: 20px;
    padding-bottom: 8px;
}
.products-family .products-content h1 {
    width: 60%;
}
.iconMargin {
    margin-left: 3px;
}
.hero-tab .section h3 .date {
    width: 170px;
}
/* code for ie8 banner issue */

.bannerImg {
    position: relative;
}
.bannerImg img {
    height: 600px;
    width: 100%;
    position: relative;
}
.hero-content h1 {
    font-size: 42px;
    font-weight: 100;
}
.hero-content h3 {
    font-size: 24px;
    font-weight: 100;
}
.hero-content {
    top: 35%;
    position: absolute;
    width: 100%;
    /*color: #fff;*/
}
.heroEle {
    max-width: 500px;
    margin: 0px auto 10px;
    text-align: center;
    padding: 0 20px;
    line-height: 1.2em;
}
/* fix for product detail image*/

.container.product-video-slider .slider {
    min-height: 300px;
}
.products-family .products-content h1 {
    word-break: normal;
}
.product-detail-tab .inner-tab > ul li {
    width: 95%;
}
.product-detail-tab .section .section-content {
    padding: 20px;
}
div.ac > ul > li:hover {
    background-color: #1f9c7d;
    -webkit-tap-highlight-color: #1f9c7d;
    color: #fff;
}
.columnCls {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
}
.relatedLinkDiv .related-link {
    box-sizing: border-box;
    float: right;
    padding: 20px;
    width: 30%;
}
.relatedLinkDiv ul {
    box-sizing: border-box;
    float: left;
    width: 70%;
}
.relatedLinkDiv .related-link .links a {
    color: #2b7690;
    display: block;
}
.relatedLinkDiv ul li {
    list-style-type: disc;
}
#maincontent .product-detail-tab .section .relatedLinkDiv {
    display: table;
    content: "";
}
.result-filter ul li {
    list-style: none;
}
.multiProCls .hero-content {
    position: relative;
    top: auto;
}
.promo-items .item-noimg {
    border-bottom: 1px solid #b7b6b6;
}
.accordion-content img {
    width: 100%;
}
.accordion-content table {
    width: 100%;
}
.accordion-content h1 {
    font-size: 32px;
    font-weight: 100;
}
.accordion-content h2 {
    font-size: 20px;
    font-weight: 100;
}
.accordion-content p,
.accordion-content div {
    /*font-size:20px;*/
    
    font-weight: 100;
}
.tech-home .hero-content {
    position: relative;
    top: auto;
}
.float-right {
    float: right;
}
.content-form .content-detail a.color-white {
    color: white;
}
.width70 {
    width: 70%;
}
.content-form .width100 {
    width: 100%;
}
.content-form .content-detail h2 {
    color: #2da990;
    font-size: 36px;
    font-weight: 100;
}
.faq-accordion .content-form .content-detail h3 {
    /*font-size: 1.5em;*/
    /*font-weight:100*/
    
    margin: 0 0 10px 0;
}
.content-form .content-detail h3 a {
    color: #2b7690;
}
.multi-promo-filter-help .item .button.paddingZero {
    padding: 0;
}
.no-link {
    cursor: text;
}
.pagination .page a {
    float: left;
}
.pagination .info {
    float: left;
    margin-right: 20px;
}
.multi-promo-filter-items .pager span.active {
    color: #2b7690;
    margin: 0 10px;
}
.pagination .page .linkcolor {
    color: #2b7690;
}
.product-detail-tab .section.hiddentxt {
    display: none;
}
body.japan .products-tech .item h3.title {
    font-family: AxisStd-Light;
}
.product-detail-tab .section-content a {
    color: #2b7690;
    font-weight: bold;
}
.product-detail-tab .section-content .detail-table a {
    color: #2b7690;
    font-weight: bold;
}
.faq-accordion .section-content a {} .pagination .page span.active {
    margin: 0 10px;
}
.accordianclr .accordion-page .content-detail a {
    color: #2b7690;
}
.accordianclr .accordion-page .content-detail a.button {
    color: #fff;
}
.morecontent a {
    color: #2b7690;
}
.full-container .video-container .mf-player-container span:first-child {
    width: 100%;
}
.full-container .video-container span:first-child {
    width: 100%;
}
.marginTop {
    margin-top: 20px;
}
div.ac > ul > li.selected {
    background: #1f9c7d none repeat scroll 0 0;
    color: #fff;
}
div.ac > ul > li.normal:hover {
    background: #1f9c7d none repeat scroll 0 0;
    color: #fff;
}
.accordion-page .content-detail .accordian .accordion-item a {
    color: #44c1ec;
}
.content-form .content-detail h2 {
    line-height: 1.2em;
}
.container .tableAlign table tbody td {
    text-align: left;
}
.container .tableAlign table tbody td:first-child {
    padding-left: 10px;
}
.anchorColor {
    color: #2b7690;
}
.anchorColor:hover {
    color: #44bde9;
}
.anchorEle p a {
    color: #2b7690;
}
.anchorEle p a:hover {
    color: #44bde9;
}
/*Sign-out*/

.header .nav .desktop a.noRightMargin {
    margin-right: 4px;
}
.logout-icon {
    margin-left: -15px;
}
.logout-option {
    position: absolute;
    right: 140px;
    top: 30px;
    background: #000;
    width: 70px;
    color: #fff;
    z-index: 1002;
    font-weight: 700;
    text-transform: uppercase;
    display: none;
}
.logout-option.active {
    display: block;
}
/*Sign-out end*/

.video-container span {
    width: 100%;
}
.video-container .mf-player-container span {
    width: 100%;
}
.video-container object {
    width: 100% !important;
}
.paddingRgt {
    padding-right: 3px;
}
/*Start Styles for download center*/

.content-list {
    overflow: hidden;
}
.content-list > ul,
.content-list > div {
    float: left;
}
.content-list > div {
    float: right;
    position: relative;
    top: -55px;
    width: 75%;
    left: 10px;
}
.content-list > ul {
    width: 25%;
}
.content-list ul li {
    width: 100%;
    margin: 3px 0;
}
.search-model {
    margin: 2% 0;
    padding: 0 10px 30px 0;
    overflow: hidden;
    padding-bottom: 30px;
}
.download-item:first-child {
    padding-top: 0;
}
.head-align {
    margin: 2% 10%;
}
.hero-tab > ul > li a.download-center-tabs {
    background: #d1d2d5;
}
.hero-tab > ul > li a.active {
    background: #f9f9f9;
}
.hero-tab ul li a > h2 {
    display: table-cell;
    height: 100%;
    text-transform: none;
    vertical-align: middle;
    font-weight: normal;
}
.list-type {
    background: gray none repeat scroll 0 0;
    padding: 10px;
    width: 230px;
    color: #fff;
}
.details > span {
    border-right: 0.2px solid;
    padding: 2px 5px 2px 0;
}
.content-list ul li a {
    width: 240px;
    display: inline-block;
    height: 25px;
    text-align: left;
    text-transform: none;
}
.content-list > div {
    width: 72%;
}
.search-model span,
.search-model input {
    float: left;
    margin: 10px;
}
.details > span:last-child {
    border-right: 0 none;
}
#accordion {
    width: 260px;
    padding-bottom: 20%;
}
#accordion li {
    display: inline-block;
    padding: 5px 0;
    margin-right: 0;
}
#accordion ul li a {
    padding-left: 5px;
}
.accordion-list.fa.fa-plus > a,
.accordion-list.fa.fa-minus > a {
    float: right;
    width: 95%;
    border: none;
}
.accordion-list {
    cursor: pointer;
}
.fa-plus:before {
    content: "+";
}
.fa-minus:before {
    content: "-";
}
ul.sub-slider {
    margin-left: 12px;
    width: 260px;
}
.accordion-list.fa.fa-plus,
.accordion-list.fa.fa-minus {
    border: none;
    float: left;
    width: 12px;
}
.hero-tab ul li .type-item {
    border-right: 0 none;
    width: 225px;
    word-break: break-all;
}
.download-center-head {
    margin: 2% 0;
    color: #289b7d;
    font-size: 36px;
    line-height: 120%;
}
a.new-version {
    color: #44bde9 !important;
    padding: 20px;
}
.accordion-content > ul li a.new-version {
    padding: 20px;
}
.content-list h4 {
    display: inline;
}
.pdf-icon {
    background-image: url("..static/img/icons/pdf.jpg");
    height: 15px;
    width: 15px;
}
.accordion-content > ul li {
    list-style-type: none;
}
.faq-accordion .accordion-content > ul li {
    margin: 0 0 30px 0;
}
.faq-accordion .accordion-content .accordion-content-list > li {
    margin: 0 0 10px 0;
}
.faq-accordion .accordion-content .accordion-content-list > li p {
    margin: 0 0 5px 0;
}
.section-content > ul li {
    margin-bottom: 30px;
}
.faq-accordion .accordion-content h4 {
    margin: 0 0 10px 0;
}
.section-content > ul li h3 {
    margin: 0 0 10px 0;
}
.section-content > ul li p {
    margin: 0;
}
.section-content > ul li p a {
    margin-bottom: 5px;
    display: inline-block;
}
.accordion-page .content-detail .accordion-content-list li a {
    color: #2b7690 !important;
    font-weight: bold;
}
.accordion-page .section-height {
    height: auto;
    min-height: 30px;
}
.accordion-content > ul li a {
    color: #2b7690 !important;
}
.search-model > input {
    border: 1px solid #979797;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 10px;
    width: 250px;
}
.search-model > span {
    margin-top: 20px;
    margin-left: 0;
}
/*End Styles for download center*/
/*Start Styles for download detail*/

#downloadtbl tr th {
    text-align: left;
    width: 250px;
    border: 1px solid #ccc;
    padding: 5px;
    word-wrap: break-word;
    white-space: normal;
}
#downloadtbl {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    table-layout: fixed;
}
.download-detail h2 {
    margin-bottom: 20px;
}
.fileBg {
    background: #f0f0f0;
}
#downloadtbl tr td {
    padding: 5px;
    border: 1px solid #ccc;
    width: 600px;
    word-wrap: break-word;
    white-space: normal;
}

@media(max-width:480px) {
    #downloadtbl tr td {
        max-width: 250px;
    }
}

.download-item {
    border-bottom: 5px solid #d0d2d1;
    padding: 15px 0;
}
/*End Styles for download detail*/

.width100 {
    width: 100%;
}
.product-video-slider .video-name {
    text-transform: uppercase;
}
.footer .site-links .link {
    width: 220px;
}
.landing-items .item .inner .hd h2 a:hover {
    color: #44bde9;
}
.color-white {
    color: #fff;
}
.color-black {
    color: #000;
}
.color-grey {
    color: #4a4e50;
}
.ie body.japan .aside-menu-trigger .icon {
    margin-bottom: 5px;
}
.full-container .container .products-heading {
    padding: 0 15px;
}
.colorBlue {
    color: #2b7690;
}
.no-left-padding {
    padding-left: 0;
}
.aside-menu .menu-title span {
    color: #fff;
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.search-model .button {
    padding: 10px 24px;
    width: auto;
}
.container.download-page {
    max-width: 1100px;
}
.products-info a.action {
    color: #2b7690;
}
.download-center-container > .hero-tab > ul li {
    float: left;
    width: 33%;
}
.accordion-page .accordion {
    margin-bottom: 50px;
}
.download-center-tabs-container {
    margin-left: 0;
    width: 100%;
}
.accordion-content.section-height > ul {
    margin: 0;
    padding: 0;
}
.accordion-page .accordion-content {
    padding: 20px;
    min-height: 150px;
}
.landing-items .item .inner .bd .link a:hover {
    color: #44bde9;
}
/*
.home-slider .slider {
    background-size: 100% 100%;
}*/
.japan .item dl dd {
    margin-left: 0;
}
.japan .item dl dd a {
    color: #2b7690;
}
.japan .item dl dd {
    margin-left: 0;
}
.japan .item dl dd a {
    color: #2b7690;
}
.promo-items .text p.more {
    word-wrap: break-word;
}
.ie10 .aside-menu-trigger .icon {
    margin-bottom: 10px;
}
.leftCol {
    width: 50%;
    float: left;
}
.rightCol {
    float: left;
}
.divEloqua {
    font-family: "FrutigerLTW02-45Light", Helvetica, Arial, sans-serif;
    font-weight: normal;
    Bottom: 0px;
    Right: 0px;
    Width: 798px;
    Top: 143px;
    Overflow-y: auto;
}
.radio-button-list tr label,
.checkbox-list tr label {
    display: inline-block;
}
.radio-button-list,
.checkbox-list {
    width: 100%;
}
.your-info {
    width: 95%;
    margin-left: 10px;
}
.border-adjust {
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.products-table table .table-head th .border {
    border-left: 1px solid #a0a3a4;
}
.products-table table tbody td.border .table-item {
    border-right: 1px solid #e8e7e7;
    display: block;
    padding: 25px 5px;
}
.products-table table tbody td {
    border-left: transparent;
    border-right: transparent;
}
.WRTYCK_dynamic_roundedbox {
    margin-top: 30px;
}
.WRTYCK_roundedboxplain {
    margin: 0;
    overflow: hidden;
    width: 600px;
}
.WRTYCK_roundedboxplain .body {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #446d8d;
    border-radius: 10px;
}
.main-container-padding {
    padding: 0 20px;
}
.custom-error-message {
    display: none;
    color: #f5a623;
}
.leftCol,
.rightCol tbody {
    vertical-align: text-top;
}
.loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    opacity: 0.6;
    background-color: #000;
    z-index: 9999;
    display: none;
}
.sk-fading-circle {
    height: 40px;
    width: 40px;
    left: 50%;
    margin: 100px auto;
    position: fixed;
    top: 50%;
    margin-top: -20px;
}
.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #1f9c7d;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}
@keyframes sk-circleFadeDelay {
    0%, 39%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}
.cookie-preferences {
    font-family: FrutigerLTW02-45Light, Helvitica, Arial, San-Serif;
    font-size: 14px;
    font-weight: bold;
    background: transparent;
    color: #FFF;
}
html[data-useragent*='MSIE 10.0'].aside-menu-trigger .icon {
    margin-bottom: 5px;
}
.content-list ul li a:active {
    color: #000;
}
.content-form .content-detail h3.spacing {
    font-size: 1.1em;
    margin-bottom: -15px;
    padding-top: 10px;
}
h4.marginBottom10 {
    margin-bottom: -10px;
}
.location .location-title a {
    color: #2b7690;
}
.addCartbtn {
    margin: 20px 30px 0 0;
}
.group a.button {
    color: #fff;
}
.currentActiveEle {
    color: #000;
}
.paddingTop {
    padding-top: 20px;
}
.slider.productItemHeight.slick-slide > a.videoImg {
    display: block;
    margin: 20px auto 0;
    text-align: center;
    width: 55%;
}
/*.product-video-slider .slider.productItemHeight img {
    width: auto;
}*/
.detailSection .detail-table table tr td img {
    width: 100%;
}
#page_navigation a {
    padding: 5px 3px 3px 3px;
    border: 1px solid #fff;
    margin: 2px;
    text-decoration: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
}
#page_navigation .previous_link,
#page_navigation .next_link {
    width: 40px;
    position: relative;
    top: -8px;
    text-align: center;
}
a.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}
.active_page {
    font-weight: bold;
    color: #2b7690;
}
#page_navigation .pagination-wrap {
    overflow: hidden;
    width: 320px;
    padding: 10px 0;
    display: inline-block;
    height: 20px;
}
.pagination-inner {
    position: relative;
    left: 0;
    width: 1000px;
    display: inline-block;
}
#page_navigation a.disabled {
    display: none;
}
.video-filter-left .result-filter .level3 .level3-item {
    padding: 5px 20px 5px 40px;
    position: relative;
}
.video-filter-left .result-filter .level4 .level4-item {
    padding: 5px 20px 5px 60px;
    color: #a2a2a2;
}
.result-filter .level3 .level3-item .icon {
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 10px;
}
.result-filter .level3.on .level4 {
    display: block;
}
.result-filter .level4 {
    display: none;
}
.result-filter input[type=checkbox] {
    margin-right: 8px;
}
.iconStyles {
    cursor: pointer;
    margin: 5px 10px 0 0;
    float: right;
}
.level2hd {
    color: #6b6b6b;
}
.level3hd {
    color: #a2a2a2;
}
.result-filter .level1_ul li {
    padding-top: 5px;
}
.result-filter .level1_ul {
    padding-left: 20px;
    padding-bottom: 8px;
}
.searchLevel li {
    list-style: none;
}
.searchLevel .level1 li {
    padding: 2px 0;
}
.level1hd,
.level2hd,
.level3hd {
    display: inline-block;
    vertical-align: top;
    width: 235px;
}
.dispNone {
    display: none;
}
.resultsCount {
    position: relative;
    top: -7px;
}
.spellFont {
    display: inline-block;
    margin-right: 10px;
}
.spellFont a {
    color: #2b7690;
    cursor: pointer;
}
.meanTxt {
    font-weight: bold;
    padding-right: 20px;
    padding-left: 121px;
}
.search-empty {
    margin: 4px 0 30px 100px;
}
.search-empty h1 {
    color: #1f9c7d;
}
.global-search .hd-right .searchResBtn {
    background: #434343 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 11px 20px;
    width: 81px;
}
.search-result-body a {
    cursor: pointer;
    font-weight: normal;
}
.noReslts {
    color: #f5a623;
}
.searchPagination {
    margin: 30px 0;
}
.filterLinks {
    color: #000;
}
.filterLinks:hover {
    color: #000;
}
.filterLinks label {
    cursor: pointer;
}
.ac {
    margin-top: -10px;
}
.hero-tab .section .more:hover {
    color: #44bde9;
}
.products-list .item .text .learnmore:hover {
    color: #44bde9;
}
.products-tech .item .content .text .morelink:hover {
    color: #44bde9;
}
.content-tab .section .more:hover {
    color: #44bde9;
}
.morecontent a:hover {
    color: #44bde9;
}
.Section {
    padding: 30px 0 10px;
}
.Section h2 a:link,
h2 a:visited {
    color: #575757;
    text-decoration: none;
}
.GridSet {
    width: 965px;
    margin: 0 auto;
}
.Grid4 {
    width: 100%;
}
.Section h2 span {
    display: block;
    padding: 10px 15px;
    font-size: 110%;
    font-weight: bold;
    color: #575757;
    line-height: 130%;
    background-color: #f2f2f2;
}
.Section h2 span.down-arrow {
    position: absolute;
    bottom: 3px;
    padding: 10px;
    transform: rotate(45deg);
    left: 30px;
    z-index: -1;
}
.Section h2 {
    margin: 0 0 5px;
    padding: 0 0 10px 0;
    position: relative;
}
.Section ul li {
    list-style-type: none;
}
.Section .second-level-list li {
    margin: 10px 0;
}
.subHeadings:hover {
    font-size: 18px;
    text-decoration: underline;
}
li a.lastLevel {
    margin-left: 10px;
}
h3 a.subHeadings {
    margin-left: 10px;
}
.subHeadings {
    font-size: 16px;
}
.lastLevel:hover {
    text-decoration: underline;
}
.colorBlue {
    color: #2b7690;
}
.search-result-body {
    min-height: 350px;
}
.accordianclr .accordion-page .content-detail a.button {
    color: #fff;
}
/* styles for site maintenance error pages*/

.mainHeading h1 {
    color: #289b7d;
    font-size: 42px;
    font-weight: 100;
    line-height: 52px;
    margin: 30px 0;
    padding: 0;
}
.err-section-sub-header {
    color: #4a4a4a;
    font-size: 18px;
}
.footerarea {
    background: #788287;
}
.padding10 {
    padding: 0 10px;
}
.paddgTop10 {
    padding-top: 10px;
}
.paddgTop20 {
    padding-top: 20px;
}
.aboutapp {
    margin: 70px 30px 30px;
    font-weight: bold;
}
.aboutapp img {
    margin-top: -15px;
}
.aboutapp span {
    vertical-align: top;
}
.footerarea {
    background: #788287;
}
p.errorContent {
    margin-left: 30px;
    font-weight: bold;
    width: 80%;
}
.errorMsg {
    color: #f5a623;
}
.pageHeight {
    min-height: 380px;
}
.page-heading .inner .heading-text h1.emplyTitle {
    color: #289b7d;
    font-size: 42px;
    font-weight: 100;
    line-height: 52px;
    margin: 0 22px;
    padding: 0;
}
.accordion-page .content-detail .products-item a {
    color: #2b7690;
}
@media(min-width:1024px) {
    .products-family .products-content h1 {
        font-size: 34px;
        width: 52%;
    }
}
@media(min-width:620px) and (max-width:750px) {
    .products-family .products-content .img {
        max-width: 325px;
    }
}
@media(min-width:600px) and (max-width:1024px) {
    .products-family .products-content h1 {
        font-size: 26px;
        width: 45%;
        padding: 0 20px;
    }
}
@media (max-width: 568px) {
    .form-container .bd .select-region {
        margin-top: 35px;
    }
    .region-heading h1 {
        margin-top: 35px;
    }
    .search-popup .search-bar input {
        width: 58%;
    }
    .search-popup {
        width: 100%;
    }
    .search-popup .search-bar {
        width: 70%;
    }
    .bannerImg img {
        height: 430px;
    }
    .hero-content {
        top: 20%;
    }
    .search-popup .search-bar span {
        left: 69%;
    }
    .columnCls {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0;
        padding: 0 20px;
    }
    .marginTop {
        margin-top: 0;
    }
    .content-list div,
    .content-list li {
        width: 100%;
    }
    #sign-out_mob {
        width: 17px;
        height: 18px;
        margin: -4px 0;
    }
}
@media (max-width: 890px) {
    .search-popup .search-bar {
        width: 90%;
    }
    .search-popup {
        width: 62%;
        right: 0;
    }
}

@media (max-width: 568px) {
    .search-popup {
        z-index: 1002;
        right: 0;
        top: -200px;
        padding: 20px 10px;
        left: 0;
        width: 100%;
        background: #119d7d;
    }

    .search-popup.active {
            top: 0;
    }
}
@media (min-width: 891px){
 .search-popup-container.search-popup .search-bar{
  width : 295px;
 }
 .search-popup-container.search-popup {
    right: 4px;
 }
 
}

@media (min-width: 570px) and (max-width: 890px) {
    .country-confirm {
        width: 57%;
    }
}
@media (max-width: 768px) {
    .products-family .products-content h1 {
        word-break: normal;
    }
    .products-family .products-content h1 {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .closeLinkDIv {
        width: 45px;
        float: right;
        height: 50px;
    }
    .country-confirm .hd .current {
        margin-right: 10px;
    }
    /* fix for iphone close*/
    
    a.closeLink {
        height: 12px;
        width: 21px;
    }
    .search-popup .search-bar {
        width: 100%;
    }
    .pagination .page a {
        margin: 0 8px;
    }
    .pagination .page span.active {
        margin: 0 8px;
    }
    /*.BrightcoveExperience {
        left: -49px;
        position: relative;
        transform: scale(0.75);
    }*/
    /*.bannerImg img {
        //height: 420px;
    }*/
    .hero-content {
        top: 5%;
    }
}
@media (max-width: 399px) {
    .bannerImg .hero-content h1 {
        margin-top: 15px;
    }
}
@media only screen and (max-width: 640px) and (orientation: landscape) {
    .video-gallery-body .video-filter-left {
        display: none;
    }
    .video-gallery-body .latest-video-right {
        width: 100%;
    }
    .nogap-mobile {
        margin-bottom: 0;
    }
}
@media (max-width: 360px) {
    .video-gallery-body .latest-video-right .item .duration {
        width: 100px;
    }
    body.japan .country-confirm .bd .button {
        width: 34%;
    }
    /*.BrightcoveExperience {
        left: -30px;
        position: relative;
        transform: scale(0.85);
    }*/
    .bannerImg img {
        //height: 420px;
    }
    .hero-content {
        top: 10%;
    }
    #divReader {
        left: -120px;
        margin: 0 auto;
        position: relative;
        text-align: left;
        width: 200px;
    }
    .content-form .content-detail h2.certificate-heading {
        font-size: 30px;
    }
}
@media (min-width: 320px) and (max-width: 640px) {
    .content-tab .section {
        display: block;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .content-list > ul {
        width: 30%;
    }
    .content-list > div {
        margin: 10px;
        position: relative;
        top: -55px;
        width: 58%;
    }
    .list-type {
        width: 23%;
    }
}
@media (min-width: 320px) and (max-width: 767px){
	.content-list > div {
		position: static;
	}
	.hero-tab ul li a > h2 {
		font-size: 11px;
	}
	.hero-content h1{
		font-size: 32px;
	}
}
@media (min-width: 320px) and (max-width: 480px) {
    .content-list div,
    .content-list li {
        width: 100%;
    }
    .list-type {
        width: 50%;
    }
    .content-list > ul {
        width: 40%;
    }
}
@media(max-width:560px) {
    .marginTop20 {
        margin-top: 20px !important;
    }
}
@media all and (min-width: 768px) and (max-width: 1280px) {
    #maincontent .region .region-container {
        min-height: 80vh;
    }
}
@media all and (min-width: 768px) and (max-width: 1280px) {
    #maincontent {
        min-height: 85vh;
    }
}

@media (max-width: 362px) {
    .searchPagination {
        margin: 30px -6px;
    }
    .resultsCount {
        padding-left: 6px;
    }
    .pagination-inner {
        margin-left: -3px;
    }
    #page_navigation .previous_link,
    #page_navigation .next_link {
        margin-left: -1px;
        padding: 0;
        width: 2px;
    }
    #page_navigation a {
        padding: 5px 2px 3px;
    }
}
body.japan .hero-tab .section h3 .date{width:200px}

.eloquaFormFields .custom-select.input-select select {
    bottom: 0;
}

.eloquaFormFields .custom-select.input-select .error-message.label-text{
 display: none;
}
@media (min-width: 768px) {
    .tab-interface.inner-tab.product-downloads ul li table {
        display: none;
        left: 100%;
        position: absolute;
        top: 0;
        min-width: 400%;
        padding-top: 20px;
    }
.tab-interface.inner-tab.product-downloads.products-table table.detail-table tbody td:first-child{width:80%}
        .tab-interface.inner-tab.product-downloads ul li table p {
            margin: 0;
        }
        .tab-interface.inner-tab.product-downloads ul li table p > a {
            display: inline-block;
        }
      .rightContent .wrap .tab-interface.inner-tab.product-downloads ul li table a {
            padding: 0;
            color: #2b7690;
        }

    .tab-interface.inner-tab.product-downloads ul {
        position: relative;
    }
    .tab-interface.inner-tab.product-downloads ul li table th div {
        margin-bottom: 10px;
    }
        .tab-interface.inner-tab.product-downloads ul li table th:first-child div {
             border-right: 1px solid #fff;
        }
    .rightContent .wrap .tab-interface.inner-tab.product-downloads ul li table tbody td b {
         padding: 15px 5px;
     }
     .tab-interface.inner-tab.product-downloads ul li table tbody td.border b {
         border-right: 5px solid #fff;
     }
     .tab-interface.inner-tab.product-downloads ul li table tbody td {
         padding-left: 25px;
     }
}

.rightContent .wrap .tab-interface.inner-tab.product-downloads ul li table a {
            padding: 0;         
        }

 .rightContent .wrap .tab-interface.inner-tab.product-downloads ul li table tbody td.border b {
         padding: 15px 5px;
     }
@media (min-width: 1200px) {
    .tab-interface.inner-tab.product-downloads ul li table {
        width: 800px;
        left: 110%;
    }
}
.tab-interface.inner-tab.product-downloads .select-mobile {
    width: 90%;
}

/**fix for responsive tables*/

.tab-interface.inner-tab.product-downloads.products-table .responsive-table {
    display: none;
}

@media (max-width: 767px) {
    .tab-interface.inner-tab.product-downloads.products-table .responsive-table{
        overflow-x: scroll;
        display: block;
    }
}
.product-detail-tab .inner-tab.product-downloads > ul li table a.active {
    border-bottom: none;
}
.search_Heading img {
    display: inline-block;
    position: relative;
    top: 2px;
    vertical-align: top;
}

.search_Heading_Link {
    display: inline-block;
    width: 95%;
}


@media (max-width: 850px) {
.search_Heading_Link{
     width: 90%;
}
}

.paddingLft25{padding-left:25px}

.visibleHide{visibility:hidden}

.slick-prev.slick-disabled, .slick-next.slick-disabled{display:none !important;}

@media (min-width: 500px) and (max-width: 850px) {.landing-help{float:left;margin:0 30%}}
@media (max-width:568px) {
.search-popup .search-bar span{
  left: 64%;
}
}

/*@media (min-width: 768px) {
    .bannerImg img {
        width: 100%;
    }
}

@media (max-width: 568px) {
    .bannerImg img {
		margin-left: -450px;
	}
}
@media (min-width: 569px) and (max-width: 767px) {
    .bannerImg img {
        height: 395px;
		margin-left: -220px
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .hero-content {
		top: 27px;
	}
}*/


/*Company name and breadcrumb changes*/

.header-container{
 height: auto;
 min-height: 70px;
}
.header-container .company-name {
    float: right;
    color: #289B7D;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 13px;
}

.header-container .header-row {
    width: 100%;
    overflow: hidden;
}
.header-container.header .nav .desktop a{
 line-height: 30px;
 margin-right:16px;
}
.header-container.header.small .nav .desktop a{
    line-height: 33px;
}
.header-container .breadcrumb{
    width: 56%;
    float: left;
    max-height: 37px;
    margin-bottom: 10px;
    overflow: hidden;
    margin-top: 3px;
}
.header-container .breadcrumb ul{
    padding-bottom: 0;
}
.header-container .breadcrumb ul li{
    line-height: 17px;
}
.header-container .header-row:last-of-type{
 margin-top: -16px;
}
.header-container.small .header-row:last-of-type{
 margin-top: 0;
}

.header-container .header-row .logo{
 padding-top: 15px;
}
.header-container.small .header-row .logo{
 padding-top: 8px;
}
.header-container .logout-option {
    right: 136px;
    width: 72px;
    text-align: center;
    top: 63px;
    padding: 0 10px;
}
.header-container.header .nav .desktop .select-country {
    margin-right: 20px;
}
@media (max-width: 568px){
 .header-container{
  min-height: 55px;
 }
 .header-container .company-name {
  font-size: 11px;
  margin-top: 1px;
  margin-right: 10px;
  color: #fff;
 }
 .header-container .header-row:last-of-type,.header-container.small .header-row:last-of-type{
  margin-top: -20px;
 }
 .header-container .nav,.header-container.small .nav{
  padding: 0;
 }
 
}
@media (min-width: 569px) and (max-width: 1024px){
 .header-container .breadcrumb{
  display: none;
 }
 .header-container.small .header-row .logo{
  padding-top: 20px;
 }
 .header-container.small .header-row:last-of-type{
  margin-top: -12px;
 }
}
/*Country popup changes*/
.country-popup-container.country-popup .hd{
 padding-top: 14px;
 padding-bottom: 14px;
}
.country-popup-container.country-popup .hd .heading{
 float: left;
 margin-right: 20px;
 padding: 10px 0;
 color: #1f9c7d;
}
.country-popup-container.country-popup .hd .icon{
 margin-top: 15px;
}
.country-popup-container.country-popup .bd {
 background: #788287;
 padding:20px 20px;
}
.country-popup-container.country-popup .bd .country-list a.current:before{
 content: "";
    display: inline-block;
    background-image: url('../img/icons/new-icons.png');
    margin-right: 5px;
    vertical-align: middle;
    font-weight: 700;
    height: 14px;
    width: 14px;
    background-position: -56px -4px;
    background-repeat: no-repeat;
}
.country-popup-container.country-popup .bd .country-list a.more{
 text-align: right;
}
.country-popup-container.country-popup {
 right: 0;
}
.country-popup-container.country-popup.active{
 top: 0;
}

@media (max-width: 568px){
 .country-popup-container.country-popup .hd {
  padding: 10px 20px;
  background: #119d7d;
 }
 .country-popup-container.country-popup .hd .heading{
   padding: 7px 0;
   color: #fff;
 }
 .country-popup-container.country-popup .bd {
  background: #788287;
  opacity: 1;
 }
 .country-popup-container.country-popup {
  padding: 0;
 }
 .country-popup-container.country-popup .hd .icon{
  margin-top: 10px;
 }
}

@media (min-width: 569px) {
    .country-popup{
        width: 400px;
    }
    .country-popup-container.country-popup .bd{
        padding: 10px 0;
    }
    .country-popup .bd .country-list a{
        padding: 5px 20px;
		box-sizing: border-box;
    }
}

/*Country popup changes*/
.country-confirm {
    right: 0;
    top: 0;
}
.country-confirm .hd .icon{
    margin-top: 0;
    position: absolute;
    right: 21px;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
}
.country-confirm .hd {
    padding: 0 20px;
    border-bottom: 1px solid #788287;
    position: relative;
}
.country-confirm .hd .current {
    padding: 12.9px 0;
    color: #1f9c7d;
    margin-right: 0;
    width: 95%;
}
.country-confirm .bd {
    padding: 29px 20px 30px 20px;
    background: #788287;
 
}
.country-confirm .bd .select-box{
 background: #000;
}
.country-confirm .bd .button{
 border-radius: 4px;
}
@media (min-width: 569px){
 .country-confirm{
  width: 400px;
 }
 .country-confirm .bd .select-box{
     width: 200px;
 }
 .country-confirm .bd .button{
     width: 140px;
 }
}
@media (max-width: 568px){
 .country-confirm .hd .current {
  color: #fff;
 }
 .country-confirm {
  padding: 0;
 }

}

/*New header icons*/
.icon-check-new, .icon-close-new, .icon-arrow-down-new, .myanritsu-logo-new, .icon-next-new, .icon-search-new{
 background: url('../img/icons/new-icons.png') no-repeat;
}

.icon-check-new{
 background-position: -56px -4px ;
 width: 14px;
 height: 14px;
}

.icon-close-new{
 background-position: -5px -5px ;
 width: 14px;
 height: 14px;
}

.icon-arrow-down-new{
 background-position: -33px -4px ;
 width: 14px;
 height: 14px;
}

.icon-myanritsu-new{
 background-position: 0 -21px ;
 width: 132px;
 height: 24px;
}

.icon-next-new{
 background-position: -112px -4px ;
 width: 14px;
 height: 14px;
}

.icon-search-new{
 background-position: -83px -4px ;
 width: 16px;
 height: 16px;
}
.search-popup-container.search-popup.active{
 top: 10px;
 padding: 11px 10px;
}
.search-popup-container.search-popup .search-bar i.icon-search-new {
    position: absolute;
    left: 10px;
    top: 7px;
    cursor: pointer;
}
@media (max-width: 568px){
 .search-popup-container.search-popup.active{
  top: 0;
 }
}
@media (max-width: 320px){
 a.closeLink {
  height: 14px;
 }
 .country-confirm .hd .icon {
     right: 14px;
  }
 .search-popup-container a.closeLink, .country-popup-container .hd .icon-close-new{ 
    width: 14px;
 }
}

.product-image-container .category-slider .slider .product-image.product-image-container{
 text-align: center;
}
.category-slider .slider .product-image.product-image-container a{
 display: inline-block;
 margin-left:6%;
}

@media (min-width: 360px) and (max-width: 1200px) {
    .category-slider .slider .product-image.product-image-container a{
        margin-left:0;
    }
}

.search-popup-container .ui-widget-content {
    z-index: 9999;
    padding: 0;
    color: #fff;
    font-family: "FrutigerLTW02-45Light",Helvetica,Arial,sans-serif;
    background: rgb(0, 0, 0);/* Fallback color*/
	 background: rgba(0, 0, 0, 0.8);
     /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000)";
}
.search-popup-container .ui-state-hover,.search-popup-container .ui-widget-content .ui-state-hover,.search-popup-container .ui-widget-header .ui-state-hover,.search-popup-container .ui-state-focus,.search-popup-container .ui-widget-content .ui-state-focus,.search-popup-container .ui-widget-header .ui-state-focus{
    border: 0;
    background: #2d8068;
    color: #fff;
}
.search-popup-container .ui-menu .ui-menu-item{
  padding: 2px 18px 5px 18px;
  box-sizing: border-box;
  font-size: 14px;
}
.search-popup-container.search-popup .search-bar input{
 margin-right: 4px;
 /*text-transform: uppercase;*/
}

@media (min-width: 569px){
 .search-popup-container.search-popup .search-bar input{
  width: 230px;
  padding-right: 10px;
 }
}

.header-container .breadcrumb ul li:after {
    content: ">";
    margin: 0 5px;
    color: #fff;
}
.header-container .breadcrumb ul li:after {
    content: ">";
    margin: 0 5px;
    color: #fff;
    float: none;
}
.header-container .breadcrumb ul li:last-child:after {
    content: "";
    margin: 0;
}
.header-container .breadcrumb ul li:before {
 content: "";
    margin: 0;
}

.faq-accordion .accordion-content.linkcolor a{
    color: #2b7690;
}
@media (min-width: 569px){
 .search-popup-container.search-popup.active {
  top: 0;
  padding: 20px 10px;
 }
}

body.japan .search-popup-container.search-popup .search-bar input{
		padding-top: 4px;
		padding-bottom: 4px;
}

body.japan .search-popup-container.search-popup .search-bar .icon-close-new{
    margin-top: -2px;
}

@media (min-width: 1025px) and (max-width: 1279px){
	.header-container .breadcrumb{
		width: 44%;
	}
}
@media (min-width: 1025px){
    body.japan .header-container.small .header-row:last-of-type{
        margin-top: -1px;
    }
    body.japan .header-container .header-row:last-of-type{
     margin-top: -17px;
    }
}

@media (max-width: 568px) {
    .header-container .nav .mobile {
        margin-right: 5px;
		margin-top: 1px;
    }
	body.japan .header-container .nav .mobile {
		margin-top: 0;
    }
    
}
@media (min-width: 569px) {
    .header-container .header-row .icon-arrow-down-new {
        margin-top: -5px;
    }
    .header.small.header-container .logo img{
        height: 29px;
    }
}
@media (max-width: 330px) {
    .country-confirm .hd .current {
        width : 94%;
    }
}
@media (min-width: 569px){
	.search-popup-container.search-popup {
		width: 389px;
        right: 0;
	}
	.search-popup-container.search-popup .search-bar {
		width: 295px;
		margin: 0;
        margin-left: 13px;
	}
}
.header.header-container .desktop #header_0_signOutIconDesktop{
	margin-top: -4px;
}
.header.header-container.small .desktop #header_0_signOutIconDesktop{
	margin-top: -3px;
}
body.japan .header.header-container .desktop #header_0_signOutIconDesktop{
	margin-top: -2px;
}
@media (max-width: 568px){
	.search-popup.search-popup-container{
		box-sizing: border-box;
	}
	.search-popup-container.search-popup .search-bar{
		width: 293px;
	}
	.search-popup-container.search-popup .search-bar input{
		width: 228px;
        padding-right: 10px;
	}
}

.header-container.header .nav .desktop a.loggedInMyAnritsu{
	padding: 0 2px;
    background: #289b7d;
    margin-left: -3px;
    margin-right: 13px;
}
.country-popup-container.country-popup{
	background: transparent;
}
.country-popup-container.country-popup .bd {
    background: rgb(0, 0, 0);/* Fallback color*/
	 background: rgba(0, 0, 0, 0.8);
     /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000)";
}
@media (min-width: 569px){
	.country-popup-container.country-popup .hd{
		background: #000;
	}
}
.country-confirm{
	background: transparent;
}
@media (max-width: 568px){
	.country-confirm .hd {
		background: #119d7d;
	}
}
@media (min-width: 569px){
	.country-confirm .hd {
		background: #000;
	}
}
.country-confirm .bd{
     background: rgb(0, 0, 0);/* Fallback color*/
	 background: rgba(0, 0, 0, 0.8);
     /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000)";
}