﻿
/* sitecore form styles */
.scfSingleLineTextBox, .scfPasswordTextBox {
    width: 100%;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #979797;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

    .scfSingleLineTextBox:focus {
        outline: 0;
    }

.scfDropListGeneralPanel .btn-select {
    background: #1f9c7d;
    border: none;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: #fff;
}

.scfCheckBoxListGeneralPanel input {
    margin-right: 10px;
}

.scfRadioButtonListGeneralPanel input {
    margin-right: 10px;
}

.scfMultipleLineGeneralPanel textarea {
    width: 100%;
    min-height: 140px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #979797;
}

    .scfMultipleLineGeneralPanel textarea:focus {
        outline: 0;
    }

.scfSingleLineTextBorder, .scfPasswordBorder, .scfDropListBorder, .scfCountrySelector, .scfStateSelector, .scfCheckboxBorder, .scfMultipleLineTextBorder, .scfRadioButtonListBorder {
    padding: 5px 0;
}


.scfSingleLineTextLabel, .scfPasswordLabel, .scfDropListLabel, .scfCheckBoxListLabel, .scfMultipleLineTextLabel, .scfRadioButtonListLabel {
    display: block;
    margin-bottom: 5px;
}

.scfSubmitButton {
    text-transform: uppercase;
    border: none;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    zoom: 1;
    padding: 10px 24px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    background: #2d7891;
    font-weight: bold;
    margin-top: 25px;
}

    .scfSubmitButton:hover {
        background: #44bde9;
    }

.scfCaptchaTextBox {
    width: 20%;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #979797;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

/* End of sitecore form styles */


.scfValidationSummary {
    display: none;
}

.scfSubmitButtonBorder, .scfIntroBorder {
    /*margin-left:10px;*/
}

.scfForm h1 {
    color: #289b7d;
    font-family: "FrutigerLTW02-45Light";
    font-size: 36px;
}

.scfFileUploadGeneralPanel .scfValidator, .scfFileUploadGeneralPanel .scfFileUploadUsefulInfo {
    display: block;
}

.scfFileUploadGeneralPanel .scfFileUpload {
    /*text-indent: -79px;
    border: 1px solid #979797;
    border-radius: 6px;*/
    display: block;
    padding: 0 85px 4px 0;
}

.scfFileUploadGeneralPanel {
    background: #fff url("../Resources/images/btn-browse.png") no-repeat scroll right top;
    overflow: hidden;
}

.scfCheckBoxList td, .scfRadioButtonList td {
    padding-right: 20px;
}
.form-section .scfSectionBorderAsFieldSet {
    border: 0 none;
    margin-top: 10px;
}
.form-section .scfSectionLegend {
    border: 0 solid;
    font-weight: bold;
}
.scfProductsDdl, .scfProductsSL
{
    padding: 5px 0;
}