html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background: url("../images/bg.gif") repeat scroll left top rgba(0, 0, 0, 0);
    font-size: small;
    height: 100%;
}

#container {
    background: url("../images/sprite-h-v1.gif") repeat-y scroll -208px 0 #FFFFFF;
    color: #000000;
    font-size: 0.92em;
    margin: 0 auto;
    position: relative;
    width: 995px;
}

.header1 {
    background: url("../images/header.gif") no-repeat scroll 0 -222px #FFFFFF;
    height: auto;
    min-height: 45px;
    padding: 22px 26px 0 0;
}

.headerlogo {
    font-size: 12px;
    height: 61px;
    left: 13px;
    position: absolute;
    top: 5px;
    width: 300px;
}

.header1right {
    float: right;
    position: relative;
    width: 60%;
    z-index: 3;
}

    .header1right .cell {
        float: right;
        margin: 0 0 8px;
        min-width: 104px;
        width: auto;
    }

.myanritsu {
    border: 1px solid #000000;
    font-family: Arial,Sans-Serif;
    font-size: 11px;
    font-weight: bold;
    margin: 0 0 4px;
    min-width: 97px;
    padding: 0 0 0 5px;
    white-space: nowrap;
    width: 100%;
}

.greenarrow {
    background: url("../images/header.gif") no-repeat scroll -975px -165px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 9px;
    margin: 2px 6px 0 0;
    width: 6px;
}

.myanritsu a:link, .myanritsu a:visited, .myanritsu a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #086F6F;
    font-size: 11px;
}

body a:link, body a:visited {
    text-decoration: none;
}

body a {
    color: #152DBD;
    font-family: Arial,Sans-Serif;
    font-weight: bold;
}

.selectcountry {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    color: #086F6F;
    font-family: Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    min-width: 97px;
    padding: 0 0 0 5px;
    white-space: nowrap;
    width: 100%;
}

.header1right .title {
    float: right;
    margin: 0 8px 8px 0;
    min-width: 25%;
    width: auto;
}

.myanritsutitle {
    font-family: Arial,Sans-Serif;
    font-size: 11px;
    font-weight: bold;
    margin: 0 0 4px;
    padding: 1px 0;
    text-align: right;
    white-space: nowrap;
}

.selectcountrytitle {
    font-family: Arial,Sans-Serif;
    font-size: 11px;
    font-weight: bold;
    padding: 1px 0;
    text-align: right;
    white-space: nowrap;
}

    .selectcountrytitle a:link, .selectcountrytitle a:visited, .selectcountrytitle a:hover {
        font-size: 11px;
    }

.clearfloat {
    clear: both !important;
}

.QuickLinksFlyoutPopup {
    background-color: #FFFFFF;
    border: 1px solid #C0C0C0;
    height: 200px;
    overflow: scroll;
    padding: 10px;
    width: 180px;
}

    .QuickLinksFlyoutPopup ul {
        list-style: none outside none;
    }

.globalnavigation {
    float: left;
    width: 100%;
    z-index: 1;
}

.drop_down {
    background-color: rgba(0, 0, 0, 0);
    display: none;
    height: 222px;
    left: 386px;
    position: absolute;
    top: 16px;
    width: 202px;
    z-index: 1;
}

    .drop_down hover {
    }

.header2 {
    background: url("../images/sprite-v-v1.gif") repeat-x scroll 0 0 #03963F;
    color: #FFFFFF;
    height: auto;
    min-height: 36px;
    width: 995px;
}

ul.menu {
    list-style: none outside none;
}

    ul.menu li {
        float: left;
        position: relative;
        z-index: 2;
    }

    ul.menu ul li a {
        color: #086F6F;
        font-family: Verdana,MS PGothic,Arial,Sans-serif;
        font-size: 0.92em;
        font-weight: normal;
        padding: 4px 20px 4px 20px;
        text-decoration: none;
        width: auto;
    }

    ul.menu li ul li {
        display: block;
        width: 100%;
    }

    ul.menu ul li a:hover {
        background: none repeat scroll 0 0 #0FAF46;
        color: #FFFFFF;
    }

    ul.menu li a:hover {
        background: url("../images/sprite-v-v1.gif") repeat-x scroll 0 -945px #1DB239;
        color: #99FFFF;
        text-decoration: none;
    }

    ul.menu li:hover ul {
        display: inline-block;
    }

    ul.menu a {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        color: #FFFFFF;
        display: block;
        font-family: Verdana,Sans-Serif;
        font-size: 12px;
        padding: 10px 22px;
    }

.menu ul {
    display: none;
}

ul.menu ul li > ul {
    display: none;
    left: 100%;
    position: absolute;
    top: 0;
}

ul.menu .contactus {
    background: url("../images/sprite-v-v1.gif") repeat-x scroll 0 -216px #038636;
    float: right;
    height: 36px;
    width: 147px;
}

    ul.menu .contactus ul {
        min-width: 144px;
    }

ul.menu ul {
    background: none repeat scroll 0 0 #E8FFED;
    border: 2px solid #056063;
    display: none;
    list-style: none outside none;
    min-width: 200px;
    opacity: 1;
    position: absolute;
    top: 34px;
}

#div_toprightlinks > ul {
    float: right;
}

#div_toprightlinks li {
    list-style: none outside none;
    margin-bottom: 13px;
    text-align: right;
    float: left;
}

.contentsarea {
    font-family: Arial,Sans-Serif;
    font-weight: normal;
    height: auto !important;
    margin-top: 3px;
}

.topbg {
    height: 236px;
}

.tobbg {
    margin-top: -3px;
}

.bottombg {
    background: url("../images/sprite-v-v1.gif") repeat-x scroll 0 -432px #D0D6D6;
    color: #000000;
    height: auto !important;
    min-height: 223px;
    padding: 25px 0 16px;
    width: 100%;
    z-index: 0;
}

    .bottombg .tabwindow {
        margin: 0 0 0 11px;
        width: 615px;
    }

    .bottombg .tabwindowtabs {
        width: 615px;
    }

.tabwindowtabs {
    height: auto !important;
    list-style-type: none;
    min-height: 28px;
    overflow: hidden;
    width: 760px;
}

.bottombg .tabwindowtabs li {
    width: 123px;
}

.bottombg .tabname {
    background: url("../images/header.gif") no-repeat scroll -474px 0 rgba(0, 0, 0, 0);
    color: #000000;
}

.tabwindowtabs li {
    cursor: pointer;
    display: block;
    float: left;
    font-size: 11px;
    height: auto !important;
    margin-bottom: -8192px;
    min-height: 26px;
    overflow: hidden;
    padding-bottom: 8192px;
    text-align: center;
    width: 152px;
}

.tabname {
    background: url("../images/header.gif") no-repeat scroll -749px 0 rgba(0, 0, 0, 0);
}

    .tabname a:link, .tabname a:visited {
        color: #FFFFFF;
        text-decoration: none;
    }

    .tabname a {
        display: block;
        font-family: Verdana,sans-serif;
        font-size: 12px;
        font-weight: bold;
        height: auto !important;
        min-height: 20px;
        padding: 6px 0 0;
    }

.bottombg .tabwindowitems {
    background-color: #FFFFFF;
    height: 179px;
    max-height: 179px;
    min-height: 179px;
    overflow-y: auto;
    padding: 0 15px;
    width: 583px;
}

.tabwindowitems {
    border-left: 1px solid #446D8D;
    border-right: 1px solid #446D8D;
    border-top: 1px solid #446D8D;
    height: auto !important;
    min-height: 100px;
    padding: 0 10px 2px;
    width: 738px;
}

#tab01 {
    border-bottom-color: #FFFFFF;
}

.tabwindowitems .news {
    border-bottom: 1px solid #446D8D;
    margin: 15px 0 0;
    font-weight: normal;
}

.tabwindowitems .newstitle .date {
    margin: 0 2px 0 0;
    width: 60px;
    display: inline-block;
}

.tabwindowitems .news .newstitle {
    margin: 0 0 8px 8px;
    overflow: hidden;
    padding: 0 0 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 556px;
}

.tabwindowitems .newstitle a {
    font-weight: normal;
}

.bottombg .tabwindowfooter {
    background: url("../images/sprite-v-v1.gif") repeat-x scroll 0 -1115px #FFFFFF;
    height: 6px;
    width: 615px;
}

.tabwindowfooter {
    background: url("../images/sprite-v-v1.gif") repeat-x scroll 0 -1046px rgba(0, 0, 0, 0);
    float: left;
    font-size: 0;
    height: 5px;
    width: 760px;
}

    .tabwindowfooter * {
        float: left;
    }

.toptabftrl {
    background: url("../images/header.gif") no-repeat scroll -907px -190px rgba(0, 0, 0, 0);
    display: block;
    height: 6px;
    width: 8px;
}

.movetoright {
    float: right !important;
}

.toptabftrr {
    background: url("../images/header.gif") no-repeat scroll -915px -190px rgba(0, 0, 0, 0);
    display: block;
    height: 5px;
    width: 5px;
}

#tab01 {
    display: block;
}

#tab02, #tab03, #tab04, #tab05 {
    display: none;
    border-bottom: medium none;
}

.promobg {
    background: url("../images/header.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 220px;
    left: 638px;
    position: absolute;
    top: 430px;
    width: 345px;
    padding: 2px 0 0 6px;
}

#promoicon0 {
    left: 10px;
    top: 8px;
}

.promofirst {
    /* height: 93px;
    width: 100px;
    padding: 8px 0 0 10px;
    border:solid 1px #FFF;*/
    height: 93px;
    width: 100px;
    padding: 0 0 0 0px;
    border: solid 1px #FFF;
    margin: 5px 0 0 5px;
}

}

.promofour {
    padding: 5px 0 0 10px;
}

.overflowhidden {
    overflow: hidden !important;
}
/*anritsu2 styles*/
.pagetitleleft {
    background: url("../images/sprite-v-v1.gif") repeat-x scroll 0 -822px #5BC56A;
    color: #FFFFFF;
    float: left;
    font-family: Verdana,Sans-Serif;
    font-size: 19px;
    font-weight: bold;
    height: auto !important;
    line-height: 19px;
    min-height: 21px;
    min-width: 200px;
    padding: 8px 0 12px 12px;
    text-align: left;
    white-space: nowrap;
    width: auto !important;
    margin: -2px 0 0 0;
}

.pagetitleright {
    background: url("../images/header.gif") no-repeat scroll -995px -247px #5BC56A;
    color: #FFFFFF;
    float: left;
    font-family: Verdana,Sans-Serif;
    font-size: 19px;
    font-weight: bold;
    height: auto !important;
    line-height: 19px;
    min-height: 21px;
    padding: 8px 0 12px;
    text-align: left;
    white-space: nowrap;
    width: 81px;
    margin: -2px 0 0 0;
}

.pagetitleleft h1 {
    font-family: Verdana,Sans-Serif;
    font-size: 19px;
    font-weight: bold;
    line-height: 19px;
}

.leftside {
    background: url("../images/sprite-v-v1.gif") repeat-x scroll 0 -1204px #E1EBEC;
    color: #000000;
    float: left;
    height: auto !important;
    margin: -5px 0 0;
    min-height: 6px;
    text-align: left;
    width: 195px;
}

.sidenavigation {
    font-family: Arial,Sans-Serif;
    font-size: 12px;
    margin: 0 0 0 8px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 177px;
}

    .sidenavigation li {
        padding: 1px 0;
    }

.on {
    background: none repeat scroll 0 0 #0FAF46;
    color: #FFFFFF;
}

.sidenavigation a {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #152DBD;
    display: block;
    font-family: Arial,Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 0 3px 7px;
    text-decoration: none;
}

.bannerlink {
    margin: 40px 0 0;
    text-align: center;
}

    .bannerlink a img {
        border: medium none;
        max-width: 195px;
    }

.rightside {
    float: left;
    margin: 11px 0 0 20px;
    overflow: visible !important;
    text-align: justify;
    width: 760px;
}

.table {
    display: table;
    margin-bottom: 20px;
}

.tablerow {
    border: 1px solid #446D8D;
    display: table-row;
}

.left-radius {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.tablecell {
    border: 1px solid #446D8D;
    display: table-cell;
    vertical-align: top;
}

.topbox1image {
    padding: 8px 10px;
    margin: 5px 0;
    width: 120px;
}

.right-radius {
    border-bottom-right-radius: 6px;
    border-left: medium none;
    border-top-right-radius: 6px;
}

.table-titlebar {
    background: url("../images/sprite-v-v1.gif") repeat-x scroll 0 -894px #AEC6C6;
    border-bottom: 1px solid #446D8D;
    font: bold 12px verdana;
    height: 17px;
    max-height: 47px;
    padding: 5px 5px 2px 17px;
}

.top-right-radius {
    border-top-right-radius: 6px;
}

.contentbox {
    padding: 10px 60px 3px 10px;
    width: 540px;
}

    .contentbox ul {
        padding-left: 10px;
    }

.tabwindow {
    margin: 0 0 20px;
    width: 760px;
}

/*Contact form*/

.scfSectionBorder {
    float: left !important;
    margin: 2px 0 0 10px !important;
    overflow: visible !important;
    text-align: justify !important;
    width: 760px !important;
    font-family: Arial,Sans-Serif;
}

select {
    width: 350px !important;
}

.scfMultipleLineTextBox {
    border: 1px solid #7F9DB9 !important;
    color: #000000 !important;
    height: 90px !important;
    width: 500px !important;
}

.scfSingleLineGeneralPanel input {
    width: 250px !important;
}

.scfEmailGeneralPanel input, #form_81DB8BB7F7F84D4CAD4DF131D3ED6FBA_field_B989E80255FF44AA907F9EC9DC1260F4_scope input, #form_81DB8BB7F7F84D4CAD4DF131D3ED6FBA_field_27FFA72DF7D84DB49181D4AEFB0DC40F_scope input {
    width: 250px !important;
}

#content_0_form_81DB8BB7F7F84D4CAD4DF131D3ED6FBA_field_2AEF8CBB54944BCDBAB4534BA4E1E42A {
    width: 650px !important;
}

.scfCaptchaGeneralPanel table {
    margin-top: 0px !important;
}

.captcha img {
    border-color: #808080 !important;
    border-style: solid !important;
    border-width: 1px !important;
    padding: 0 !important;
    width: 220px !important;
}

.captcha label {
    font-weight: bold !important;
    padding: 10px !important;
}

.scfSubmitButtonBorder {
    text-align: center !important;
}

    .scfSubmitButtonBorder input {
        background-image: url("../images/dlbtnbg.gif") !important;
        background-repeat: no-repeat !important;
        border-style: none !important;
        color: #FFFFFF !important;
        cursor: pointer !important;
        font-weight: bold !important;
        height: 29px !important;
        width: 112px !important;
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

.scfDropListBorder, .scfSingleLineTextBorder, .scfMultipleLineGeneralPanel, .scfCheckboxBorder {
    margin-bottom: 14px !important;
}

.scfCheckbox label {
    font-weight: bold;
}

.scfEmailBorder {
    margin-bottom: 6px !important;
}

#form_81DB8BB7F7F84D4CAD4DF131D3ED6FBA_field_35C61C8179F14D798611EABE2DE0AD5Aborder_captchaCode_captchaCodepb {
    display: none !important;
}
/*
#form_81DB8BB7F7F84D4CAD4DF131D3ED6FBA_field_35C61C8179F14D798611EABE2DE0AD5Aborder_captchaCode_captchaCodeim{
    display: none !important;
}*/
.scfCaptchaGeneralPanel td input {
    display: none !important;
    margin-left: 20px;
}

.scfRequired {
    display: none !important;
}

.leftsideForm {
    background: url("../images/sprite-v-v1.gif") repeat-x scroll 0 -1204px #E1EBEC;
    color: #000000;
    float: left;
    height: auto !important;
    margin: -5px 0 0;
    min-height: 560px;
    text-align: left;
    width: 195px;
}

.scfDropListLabel, .scfEmailLabel, .scfMultipleLineTextLabel, .scfSingleLineTextLabel, .scfPasswordLabel, .scfNumberLabel, .scfDatePickerLabel, .scfDateLabel, .scfRadioButtonListLabel, .scfCheckBoxListLabel, .scfListBoxLabel, .scfFileUploadLabel, .scfDateSelectorLabel, .scfCreditCardLabel, .scfConfirmPasswordLabel, .scfCaptchaLabel, .scfTelephoneLabel, .scfSmsTelephoneLabel {
    float: none !important;
    width: 100% !important;
}

.scfCaptchaTextBox {
    height: 30px;
    width: 60px !important;
}

.scfCaptchaLabelText {
    float: left;
    font-weight: bold;
    width: 130px !important;
    margin-top: -10px;
}

.scfCaptchaLimitGeneralPanel {
    float: left !important;
    width: 215px !important;
    margin: -8px 0 0;
}

.scfIntroBorder {
    font-family: Verdana,sans-serif;
    font-weight: bold;
    margin-left: 215px;
}

.scfCaptchStrongTextPanel {
    margin-top: -10px;
}

.scfCaptcha img {
    width: 190px;
}

.scfValidationSummary {
    margin-bottom: 20px;
    margin-left: 225px !important;
    margin-top: 20px;
}

.ConatcForm {
    min-height: 600px;
}
/*.ConatcForm .scfForm {
    margin-left:400px;
}*/

/*Start Box Item*/
.boxitem {
    margin: 0 0 20px;
    width: 755px;
}

.boxitemtitle {
    background: url("//static.cdn-anritsu.com/images/gwstyle/sprite-v-v1.gif") repeat-x scroll 0 -893px #aec6c6;
    color: #000;
    font-family: Verdana,sans-serif;
    font-weight: bold;
    height: auto !important;
    min-height: 26px;
}

.boxitemtitleleft {
    background: url("//static.cdn-anritsu.com/images/gwstyle/sprite-v1.gif") no-repeat scroll -1083px -33px transparent;
    color: #000;
    float: left;
    font-size: 0;
    height: 5px;
    width: 5px;
}

.boxitemtitleright {
    background: url("//static.cdn-anritsu.com/images/gwstyle/sprite-v1.gif") no-repeat scroll -1088px -33px transparent;
    color: #000;
    float: right;
    font-size: 0;
    height: 5px;
    width: 5px;
}

.boxitemtitletext {
    border-left: 1px solid #446d8d;
    border-right: 1px solid #446d8d;
    clear: both;
    height: auto !important;
    min-height: 20px;
    overflow-x: hidden;
    padding: 1px 0 0 17px;
    text-align: left;
}

    .boxitemtitletext a {
        font-family: Verdana,sans-serif;
    }

.boxitembody {
    border-left: 1px solid #446d8d;
    border-right: 1px solid #446d8d;
    border-top: 1px solid #446d8d;
    font-weight: normal;
    height: auto !important;
    min-height: 10px;
    padding: 10px 10px 5px;
}

.boxitembodyleft {
    float: left;
    padding: 0 20px 0 0;
    width: 480px;
}

.boxitembodyright {
    float: left;
    width: 233px;
}

.boxitemlist {
    margin: 0 0 20px;
}

.boxitemsubtitle {
    background: url("//static.cdn-anritsu.com/images/gwstyle/sprite-v-v1.gif") repeat-x scroll 0 -893px #aec6c6;
    border-left: 1px solid #446d8d;
    border-right: 1px solid #446d8d;
    color: #000;
    font-family: Verdana,sans-serif;
    font-weight: bold;
    height: auto !important;
    min-height: 21px;
    padding: 5px 0 0 15px;
}

.boxitemsubtitletext {
    clear: both;
    height: auto !important;
    min-height: 20px;
    overflow-x: hidden;
    padding: 5px 0 0 17px;
}

.boxitemimage img {
    border: 0 none;
    max-width: 233px;
}

.boxitemimagecaption {
    font-family: Arial,sans-serif;
    font-size: 0.92em;
}

.boxitemfooter {
    background: url("//static.cdn-anritsu.com/images/gwstyle/sprite-v-v1.gif") repeat-x scroll 0 -1046px rgba(0, 0, 0, 0);
    clear: both;
    height: 5px;
}

    .boxitemfooter * {
        float: left;
        vertical-align: middle;
    }

.boxitemcaption {
    overflow: hidden;
    text-align: left;
    width: 218px;
}
/*End Box Item*/

/*Footer Area Start*/
.footerarea {
    background: url("//static.cdn-anritsu.com/images/gwstyle/sprite-v-v1.gif") repeat-x scroll 0 -703px #04973f;
    clear: both;
    color: #000;
    height: auto !important;
    min-height: 30px;
    overflow: hidden;
    width: 995px;
}

.footerleft {
    float: left;
    font-family: Verdana,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0 0;
}

    .footerleft li {
        float: left;
        list-style-type: none;
    }

    .footerleft a {
        color: White;
    }

.footerright {
    background: none repeat scroll 0 0 transparent;
    color: #a0f592;
    float: right;
    font-family: Verdana,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0 18px;
    padding: 10px 0 0;
    white-space: nowrap;
}

.footerarea a {
    font-family: Verdana,sans-serif;
    font-size: 12px;
    margin: 0 18px;
    white-space: nowrap;
}

.footerarea img {
    margin-top: 1px;
    vertical-align: top;
}

.footerarea a:link, .footerarea a:visited {
    background: none repeat scroll 0 0 transparent;
    color: #fff;
    font-family: Verdana,sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.footerarea a:hover {
    background: none repeat scroll 0 0 transparent;
    color: #9ff;
    font-family: Verdana,sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
/*Footer Area End*/

/*Contact Us Start*/
.Contactslistitem {
    margin: 0 0 10px;
}

.Contactslistitemtitle {
    background: url("//static.cdn-anritsu.com/images/gwstyle/sprite-v-v1.gif") repeat-x scroll 0 -893px #aec6c6;
    color: #000;
    font-family: Verdana,sans-serif;
    font-weight: bold;
    height: auto !important;
    min-height: 26px;
}

.Contactslistitemtitleleft {
    background: url("//static.cdn-anritsu.com/images/gwstyle/sprite-v1.gif") no-repeat scroll -1083px -33px #aec6c6;
    color: #000;
    float: left;
    font-size: 0;
    height: 5px;
    width: 5px;
}

.Contactslistitemtitleright {
    background: url("//static.cdn-anritsu.com/images/gwstyle/sprite-v1.gif") no-repeat scroll -1088px -33px #aec6c6;
    color: #000;
    float: right;
    font-size: 0;
    height: 5px;
    width: 5px;
}

.Contactslistitemtitletext {
    border-left: 1px solid #446d8d;
    border-right: 1px solid #446d8d;
    clear: both;
    height: auto !important;
    min-height: 20px;
    overflow-x: hidden;
    padding: 1px 0 0 17px;
    width: 741px;
}

    .Contactslistitemtitletext a {
        font-family: Verdana,sans-serif;
    }

.Contactslistitembody {
    border-left: 1px solid #446d8d;
    border-right: 1px solid #446d8d;
    border-top: 1px solid #446d8d;
    overflow: hidden;
    width: 758px;
}

    .Contactslistitembody.row {
        border-bottom: 1px solid #446d8d;
        margin: 0 10px;
        padding: 10px 0;
        width: 738px;
    }

        .Contactslistitembody .row .left {
            float: left;
            overflow: hidden;
            width: 170px;
        }

        .Contactslistitembody .row .right {
            float: right;
            overflow: hidden;
            width: 565px;
        }

    .Contactslistitembody .last {
        border-bottom: medium none !important;
    }

    .Contactslistitembody .clearfloat {
        clear: both !important;
    }

    .Contactslistitembody .item {
        margin: 10px 0;
    }

        .Contactslistitembody .item .title {
            font-weight: bold;
        }

        .Contactslistitembody .item ul {
            list-style-type: disc;
            margin-left: 7px;
            padding-left: 7px;
        }

    .Contactslistitembody .linklist {
        list-style-type: none;
        margin: 3px 0 -3px 10px;
        padding: 0 0 5px;
    }

        .Contactslistitembody .linklist li {
            float: left;
            margin: 5px 0 3px;
            overflow: hidden;
            width: 33%;
        }

    .Contactslistitembody .left {
        border-right: 1px solid #446d8d;
        float: left;
        margin: 5px 0 -3px 10px;
        width: 500px;
    }

    .Contactslistitembody .right {
        border-left: 1px solid #446d8d;
        float: right;
        margin: 5px 0 0 -1px;
        padding: 0 0 0 10px;
        width: 227px;
    }

.Contactslistitemfooter {
    background: url("//static.cdn-anritsu.com/images/gwstyle/sprite-v-v1.gif") repeat-x scroll 0 -1046px rgba(0, 0, 0, 0);
    clear: both;
    height: 5px;
}

    .Contactslistitemfooter * {
        float: left;
        vertical-align: middle;
    }

.toprightbuttons .button .Contacttext {
    color: #fff;
    font-family: Verdana,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    margin: 6px 1px 1px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    width: 125px;
}

.ContactUsCustomLinkBlue {
    color: #4030ff;
    font-size: 11px;
}

    .ContactUsCustomLinkBlue[disabled] {
        color: Black !important;
        text-decoration: none !important;
    }

.ContactUsCustomLinkBlack {
    color: #000;
    font-size: 11px;
}

    .ContactUsCustomLinkBlack:hover {
        color: #000;
        cursor: text;
        text-decoration: none;
    }

.ContactslistFixeditembody {
    border-left: 1px solid #446d8d;
    border-right: 1px solid #446d8d;
    border-top: 1px solid #446d8d;
    overflow: hidden;
    width: 758px;
}

    .ContactslistFixeditembody .left {
        float: left;
        height: inherit;
        padding: 10px;
        width: 460px;
    }

    .ContactslistFixeditembody .leftborder {
        border-right: 1px solid #446d8d;
        float: left;
        height: inherit;
        padding: 10px;
        width: 460px;
    }

    .ContactslistFixeditembody .right {
        float: right;
        height: inherit;
        padding: 10px;
        width: 250px;
    }

    .ContactslistFixeditembody .rightborder {
        border-left: 1px solid #446d8d;
        float: right;
        height: inherit;
        padding: 10px;
        width: 250px;
    }

    .ContactslistFixeditembody .item {
        margin: 0 0 10px;
    }
/*Contact Us End*/

