#bwrsupport {width: 100%; margin-left: auto; margin-right: auto;}

#badbwr { width: 80%;z-index: 1000000;height: auto!important; color: #000; position: inherit; bottom: 0px; text-align: center;margin-left: auto; margin-right: auto; position: fixed;bottom: 0;_position: absolute;display: none;background-color: #f5f5f5;border-top: 5px solid #e0e0e0;left:10%}

#badbwr .badbwrTitle { color: #000000; text-align: center; width: 100%; margin-left: auto; margin-right: auto; margin-bottom:20px}


#badbwr .msgTitle { background-repeat: no-repeat; background-position: 97% 60%; text-align: center; width: 100%; height: 28px; padding: 10px 0px 0 0; display: block; font: 14px/1.6em 'FrutigerLTW02-45Light',Helvetica,Arial,sans-serif; color: #000; text-decoration: none; font-size: 22px; font-weight: 100; line-height: 100%; margin: 0;}

 #badbwr .msgTitle #badbwrTitleText { font-size : 20px; font-weight:100; line-height: 25px ;width:80%}	     

#badbwr .warningText { }	    
#badbwrTitleMsg img{margin-left:10px;}
#badbwr .warningText p { display: block; padding: 10px 40px 2px 40px; text-align: left; width:80%}	    

#badbwr .badbwr_active { background-repeat: no-repeat; background-position: 97% 60%; }

#badbwr .browserLogos { display: block; width: 100%; text-align: center; padding: 0; margin: 0px; }	 

#badbwr .browserLogos a { padding-right: 10px; }	    

#badbwr .browserLogos img { border: none; }

#badbwrcontainer { min-height: 180px;}