﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ContactForm.ascx.cs" Inherits="Anritsu.WebApp.GlobalWeb.SubLayouts.ContactForm" %>
<%@ Register tagPrefix="sc" namespace="Sitecore.Web.UI.WebControls" assembly="Sitecore.Kernel"  %>

<div class="ConatcForm" >
    <div class="pagetitle">

    <div class="pagetitleleft">
        <h1>
            <sc:Text  runat="server" Field="Page Title" />
        </h1>
    </div>
    <div class="pagetitleright">
        &nbsp;
    </div>
</div>
<div class="clearfloat"></div>
<div class="leftsideForm">
 
  </div>
    <sc:Placeholder runat="server" Key="ContactUS" />
 </div>