﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FaqSearch.ascx.cs" Inherits="Anritsu.WebApp.GlobalWeb.SubLayouts.FaqSearch" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>
