﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="LinksAndImage.ascx.cs" Inherits="Anritsu.WebApp.GlobalWeb.SubLayouts.LinksAndImage" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>
<%--<div class="content-aside">
                <p class="desktop"><img src="./static/img/content-text/optional_links@2x.png" class="img100"></p>
                <p class="mobile"><img src="./static/img/content-text/optional_links.png"></p>
                <h3>Optional links</h3>
                <p><a href="#">Optional link 0&nbsp;</a><i class="icon icon-arrow-blue"></i></p>
                <p><a href="#">Optional link 1&nbsp;</a><i class="icon icon-arrow-blue"></i></p>
                <p><a href="#">Optional link 2&nbsp;</a><i class="icon icon-arrow-blue"></i></p>
                <p><a href="#">Optional link 3&nbsp;</a><i class="icon icon-arrow-blue"></i></p>
                <p><a href="#">Optional link 4&nbsp;</a><i class="icon icon-arrow-blue"></i></p>
                <p><a href="#">Optional link 5&nbsp;</a><i class="icon icon-arrow-blue"></i></p>
              </div>--%>