﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SingleColumn.ascx.cs" Inherits="Anritsu.WebApp.GlobalWeb.SubLayouts.SingleColumn" %>
<div class="container">
    <div class="site-guide">
        <div class="row">
            <div class="item col100">
                <sc:placeholder id="SingleColumn1" key="SingleColumn1" runat="server" />
            </div>
        </div>
    </div>
</div>
<%--<div class="container">
    <div class="site-guide">
        <div class="row">
            <div class="item col100 item4">
                <sc:placeholder id="SingleColumn2" key="SingleColumn2" runat="server" />
            </div>
        </div>
    </div>
</div>--%>
