﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SoftwareSearch.ascx.cs" Inherits="Anritsu.WebApp.GlobalWeb.SubLayouts.SoftwareSearch" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>
