﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="VideoSearch.ascx.cs" Inherits="Anritsu.WebApp.GlobalWeb.SubLayouts.VideoSearch" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>
