.subscription-main-container .dialogue-header, .subscription-main-container .dialogue-header h3, .subscription-main-container h3{
	color: #4a4a4a;
    font-size: 22px;
}

/*.subscription-main-container .dialogue-body{
	background: #f5f5f5;
	vertical-align: middle;
	padding: 20px;
	border-bottom: 5px solid #e0e0e0;
}*/

.sso-main-container .dialogue-header, .sso-main-container .dialogue-header h3{
	color: #4a4a4a;
    font-size: 22px;
}
.section-sub-header {
        color: #4a4a4a;
        font-size: 22px;
}

/*.sso-main-container .dialogue-body{
	background: #f5f5f5;
	vertical-align: middle;
	padding: 20px;
	border-bottom: 5px solid #e0e0e0;
}*/

.subscription-main-container .content-detail {
    padding: 20px 0;
}

.single-container{
	width: 700px;
	margin: 60px auto;
}
.right{
	float: right;
}
.left{
	float: left;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.no-margin{
	margin: 0px;
}
.no-padding{
	padding: 0px;
}
.page-height{
	min-height: 750px;
}
.inline-block{
	display: inline-block;
}
.block{
	display: block;
}
.bold{
	font-weight: bold;
}
.full-width{
	width: 100%;
	box-sizing: border-box;
}
.overflow{
	overflow: hidden;
}
.red{
	/*color: red;*/
	color: #f5a623;
}
.no-bullets{
	padding: 0;
	list-style: none;
}
.error-message, .custom-select .label-text.error-message {
    display: none;
    color: #f5a623;
    margin: 1em 0;
    font: 14px/1.6em "Segoe UI",Helvetica Neue,Helvetica,Arial,Meiryo,Hiragino Sans,Hiragino Kaku Gothic ProN,Microsoft JhengHei,Microsoft Yahei,Malgun Gothic,Gulim,sans-serif;
}
.server-error-message {
    color: #f5a623;
    display: block;
    margin: 1em 0;
    font: 14px/1.6em "Segoe UI",Helvetica Neue,Helvetica,Arial,Meiryo,Hiragino Sans,Hiragino Kaku Gothic ProN,Microsoft JhengHei,Microsoft Yahei,Malgun Gothic,Gulim,sans-serif;
}
.email-error-message, .number-error-message, .password-error-message, .custom-error-message{
	display: none;
	color:#f5a623
}
.input-number input[type='text']{
width:100%;padding:5px 10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid #979797;-webkit-border-radius:6px;border-radius:6px;
}
.subscription-main-container .content-form .content-detail, .checkout-main-container .content-form .content-detail, .sso-main-container .content-form .content-detail{
	width: 100%;
}
.subscription-main-container content-detail-70 .content-form .content-detail, .checkout-main-container .content-detail-70 .content-form .content-detail, .sso-main-container .content-detail-70 .content-form .content-detail{
	width: 70%;
}
.subscription-main-container, .sso-main-container {
    font: 14px/1.6em "Segoe UI",Helvetica Neue,Helvetica,Arial,Meiryo,Hiragino Sans,Hiragino Kaku Gothic ProN,Microsoft JhengHei,Microsoft Yahei,Malgun Gothic,Gulim,sans-serif;
}
.subscription-main-container a, .checkout-main-container .checkout-wrapper a{
  color: #2b7690;
  font-weight: bold;
}
.subscription-main-container a:hover, .checkout-main-container .checkout-wrapper a:hover{
	color: #44bde9;
}
/*.subscription-main-container h1{
	font-size: 42px;
	line-height: 52px;
	font-weight: normal;
}*/
.subscription-main-container h1, .sso-main-container h1, .checkout-main-container h1, .myAnritsuForm h1{
    color: #289b7d;
    font-size: 36px;
}
.sso-main-container h2{
    font-size: 36px;
    font-weight: normal;
    line-height: 46px;
}
.sso-main-container .login-form .login-info h2 {
    line-height: 23px;
}
.subscription-main-container h5{
	font-size: 11px;
	font-weight: normal;
	line-height: 18px;
}
.subscription-main-container h3{
	font-size: 22px;
	line-height: 34px;
}
/* .subscription-main-container input[type="submit"], .checkout-main-container input[type="submit"],.subscription-main-container button[type="submit"], .checkout-main-container button[type="submit"]{
	width: 170px;
}*/ 
.subscription-main-container input[type="submit"], .subscription-main-container button[type="submit"]{
	margin-top: 15px;
}
.subscription-main-container~.footer, .checkout-main-container .footer, .sso-main-container .footer, .myAnritsuForm .footer{
	padding: 0;
}
.subscription-main-container~.footer .container, .checkout-main-container .footer .container, .sso-main-container .footer .container, .myAnritsuForm .footer .container{
	margin-bottom: 0;
}
.subscription-main-container~.footer .site-info, .checkout-main-container .footer .site-info, .sso-main-container .footer .site-info, .myAnritsuForm .footer .site-info{
	border: 0px;
}

.sso-main-container .contentsarea.container a{
	color: #44bde9;
}
.sso-main-container .contentsarea.container a:hover{
	color: #44bde9;
    text-decoration:underline;
}
.sso-main-container .contentsarea.container a.button{
	color: white;
	text-decoration: none;
}
.sso-main-container .contentsarea.container a.button:hover{
	color: white;
	text-decoration: none;
}
.width-70{
	width: 70%;
}
.width-60{
	width: 60%;
}
.width-30{
	width: 30%;
}
.width-20{
	width: 20%;
}
.input-password input, .input-password-confirm input{
	width:100%;
	padding:5px 10px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border:1px solid #979797;
	-webkit-border-radius:6px;
	border-radius:6px;
}

.checkout-wrapper .payment-summary-left{
	width: 30%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 20px;
}
.checkout-wrapper .payment-summary-right{
	width: 70%;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
}
.checkout-wrapper .payment-summary-right h3.section-sub-header, .checkout-wrapper .payment-summary-left h3.section-sub-header {
    margin-top: 0;
}
.bill-details{
	width: 200px;
}
.checkout-form-container li{
	width: 45%;
	padding: 0 10px;
	float: left;
}
.checkout-form-container li input, .checkout-form-container li select{
	width: 170px;
}
.checkout-form-container li label{
	width: 120px;
}
.shipping-preference-container{
	margin-top: 20px;
}
.dark-gray-bg{
	background: #f0f0f0;
}
.white-bg{
	background: white;
}
.dark-gray-bg span{
	color: #000;
    font-weight: bold;
}
.white-bg-section span {
    color: black;
}
.max-width{
	width: 65%;
}
.min-width{
	width: 30%;
}
.white-bg-section{
	background: white;
	overflow: hidden;
	margin: 0 -9px;
	padding: 10px;
}
.white-bg-section label{
	margin-left: 10px;
}
.detailed-copy {
    font-family: "Segoe UI",Helvetica Neue,Helvetica,Arial,Meiryo,Hiragino Sans,Hiragino Kaku Gothic ProN,Microsoft JhengHei,Microsoft Yahei,Malgun Gothic,Gulim,sans-serif;
    font-size: 11px;
    line-height: 18px;
}
.shipping-form .group{
	width: 45%;
	float: left;
	margin: 0 20px 10px 20px;
}
.group.input-select select{
	bottom: 0px;
	top:auto;
}
.payment-items-form{
	width: 25%;
	float: right
}
.payment-method-container{
	padding: 1px 10px;
}

.customtooltip::before {
    border-right-color: #446d8d;
    border-width: 8px;
    left: -16px;
    top: 5px;
}
.customtooltip::after, .customtooltip::before {
    border: medium solid transparent;
    content: " ";
    height: 0;
    left: 100%;
    position: absolute;
    width: 0;
}
.customtooltip::after {
    border-right-color: #fff;
    border-width: 7px;
    left: -14px;
    top: 6px;
}
.customtooltip::after, .customtooltip::before {
    border: medium solid transparent;
    content: " ";
    height: 0;
    left: 100%;
    position: absolute;
    width: 0;
}
.customtooltip {
    background-color: #fff;
    border: 1px solid #446d8d;
    box-shadow: 2px 2px 6px #999;
    color: #000;
    display: none;
    font: 11px verdana;
    max-width: 250px;
    min-width: 120px;
    padding: 10px;
    position: relative;
    text-align: left;
    z-index: 100;
}
.weak {
    background: none repeat scroll 0 0 red;
    display: inline-block;
    float: left;
    height: 2px;
    width: 30%;
}

.good {
    background: none repeat scroll 0 0 orange;
    display: inline-block;
    float: left;
    height: 2px;
    width: 70%;
}
.strong {
    background: none repeat scroll 0 0 green;
    display: inline-block;
    float: left;
    height: 2px;
    width: 100%;
}
li.fail {
    background: url("https://gwdata-dev.cdn-anritsu.com/appfiles/img/icons/fail.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
li.success {
    background: url("https://gwdata-dev.cdn-anritsu.com/appfiles/img/icons/success.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.pwd-guidelines ul {
    margin: 0;
    padding: 0;
}
.pwd-guidelines li {
    list-style: outside none none;
    padding: 0 20px 10px;
}

.strength-scale {
    border: 1px solid #ccc;
    height: 2px;
    margin: 4px 0;
    overflow: hidden;
    width: 247px;
}

.customtooltip:after, .customtooltip:before {
  border: solid transparent;
  content: ' ';
  height: 0;
  left: 100%;
  position: absolute;
  width: 0;
}
.customtooltip:before {
  border-width: 8px;
  border-right-color: #446D8D;
  top: 5px;
  left: -16px;
}

.guidelines {
    display: none;
    padding: 10px 10px 10px 0px;
    width: 100%;
}
.pwdguide ul {
    padding: 0;
}
.guidelines-wrapper {
    margin: 10px 0;
}
.what {
    background: url("https://gwdata-dev.cdn-anritsu.com/appfiles/img/icons/question.png") no-repeat scroll 4px 3px rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 20px;
    width: 20px;
}

.pwdguide {
    background: none repeat scroll 0 0 #eee;
    padding: 0 20px;
}
.pwdguide, .guidelines {
    padding-top: 0 !important;
}
.pwdguide ul li {
    list-style: outside none none;
    margin: 0 !important;
    padding: 10px 0 !important;
}
.pwdguide ul li {
    margin-left: 20px;
    padding: 10px 5px 0;
}

/*#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=50);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  z-index: 100;
  display: none;
}
.popup {
  width: 50%;
  margin: 0 auto;
  display: none;
  position: fixed;
  top: 60px;
  z-index: 101;
  padding: 18px 12px;
}
.content {
  width: 600px;
  min-height: 150px;
  margin: 0 auto;
  background: #f3f3f3;
  position: relative;
  z-index: 50;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #000;
}*/
.white-popup-block {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
}
.anchor-blue {
  color: #44c1ec;
}
#modal-desc .boxitemlisttext td p {
    margin: 0;
}
.big-text-p {
    font-size: 20px;
    color: #4a4a4a;
}
.right-links {
    width: 30%;
    float: right;
    margin-top: 75px;
    display: inline-block;
}
.margin-top-15 {
    margin-top: 15px;
}
.margin-right-15 {
    margin-right: 15px;
}
.margin-left-15 {
    margin-left: 15px;
}
.margin-top-50 {
    margin-top: 50px;
}
.margin-top-30 {
    margin-top: 30px;
}
.content-form .content-aside.right-links {
    padding: 0 40px;
}
.payment-summary-left{
	background: #f0f0f0;
}
.CheckoutOI_LineItem .input-text input {
    width: 20%;
}
.CheckoutOI_LineItem label {
    display: inline-block;
}
.no-bullets li{
    list-style: none;
}
    .no-bullets li a {
        color: #44c1ec;
        font-family: "Segoe UI",Helvetica Neue,Helvetica,Arial,Meiryo,Hiragino Sans,Hiragino Kaku Gothic ProN,Microsoft JhengHei,Microsoft Yahei,Malgun Gothic,Gulim,sans-serif;
        font-size: 14px;
    }
.white {
    color: white;
}

.checkout-main-container .detail-table table tbody td {
    background: transparent;
    border: 0px;
}
.checkout-main-container .detail-table table {
    min-width: 100%;
}
.checkout-main-container .detail-table table table tbody td {
   padding: 0px;
}
.checkout-main-container .detail-table table table tbody td:first-child {
   width: 20%;
}
.checkout-main-container .detail-table {
    border: 1px solid #ccc;
    border-radius: 15px;
}
.checkout-main-container .detail-table div{
    background:transparent !important;
}
 .loading-indicator-section {
	background: transparent; 
	display: none;
}
.loading-indicator-section .loading-indicator-wrapper {
	background-color: #fff; 
	border-color: #086f6f; 
	border-style: solid;
	border-width: 1px;
	bottom: 0; 
	height: 50px;
	left: 0;
	margin: auto; 
	opacity: 0.9; 
	padding: 10px; 
	position: absolute; 
	right: 0; 
	text-align: center; 
	top: 0; 
	width: 5%; 
	z-index: 1006;
}
.loading-indicator-section .overlay-wrapper {
	position: absolute; 
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	text-align: center; 
	margin: auto; 
	background: white; 
	opacity: 0.5; 
	z-index: 1005
}
.main-container-padding{
	padding: 0 20px;
}
.radio-container > input {
    margin-right: 10px;
}
.aside-menu .menu-title span {
    color: #fff;
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.header .nav .desktop {
    color: white;
    font-weight: bold;
    line-height: 40px;
    text-transform: uppercase;
}
.captcha{width:450px;max-width:450px}
.captcha img{padding:0;border-style:solid;border-width:1px;width:100%;border-color:Gray; margin: 10px 0}
.captcha label{padding:10px;font-weight:700}
.captcha input[type=text]{height:30px;font-size:20px;font-weight:bolder;border-style:solid;border-width:1px;border-color:Gray;text-align:center; width: 85px;}
.captcha #captchaDesc{padding:5px;padding-bottom:1px;width:400px;text-align:left;line-height:1.2em}
.captcha .captchaErr{display:normal!important}
.updateProgress{border-width:1px;border-style:solid;border-color:#086F6F;background-color:#FFF;filter:alpha(opacity=90);opacity:.9;position:absolute;padding:10px;height:50px;top:300px;left:400px;z-index:100001;text-align:center}
.updateProgress img{margin:0 0 5px 2px;display:block}
html>body .updateProgress img{margin-left:auto;margin-right:auto;display:block}
.updateProgressbackground{background-color:#fff;filter:alpha(opacity=50);opacity:.5;position:absolute;left:0;top:0;z-index:10000;width:995px;height:100%}
.captchawithbtns{text-align:right}
.captchawithbtns .captcha div{float:right}
.captchawithbtns .captcha{float:right}
.captcha .captchaErr span{padding:5px;text-align:left;white-space:nowrap;height:20px!Important}
.recoverpwdguide{padding-top:10px;color:#000}
.recoverpwdguide ul{}.recoverpwdguide ul li{margin-left:20px;padding:10px 5px 0}
.box{margin:0 auto;width:100%}
