﻿/* Form */
.scfForm
{
}

/* Form Title*/
.scfTitleBorder
{
	color : #649064;
}

/* Form Introduction*/
.scfIntroBorder
{
}

/* Form Footer*/
.scfFooterBorder
{
}

/* Submit Button*/
.scfSubmitButtonBorder
{
}

.scfSubmitButton
{
}

/* Validation */
.scfError,
.scfValidationSummary
{
	color: red;
}

.scfValidator
{
}

.scfRequired
{
	color : #649064;
}

/* Forms section*/
.scfSectionBorderAsFieldSet
{
	border-top-color :	#649064;	
}

.scfSectionLegend
{
	color : #649064;
}

.scfSectionBorder
{
}

.scfSectionContent
{
}


.scfSectionUsefulInfo
{
}

/* Form fields */
/* Checkbox */
.scfCheckBoxBorder
{
}

.scfCheckBox
{
}

.scfCheckBoxUsefulInfo
{
	color:#AFD6AF;
}
/* DropList */
.scfDropListBorder
{
}

.scfDropListLabel
{
}

.scfDropList
{
}

.scfDropListUsefulInfo
{
	color:#AFD6AF;
}
/* Email */
.scfEmailBorder
{
}

.scfEmailLabel
{
}

.scfEmailTextBox
{
}

.scfEmailUsefulInfo
{
	color:#AFD6AF;
}
/* Label */
.scfLabel
{
}
/* Multiple-Line Text */
.scfMultipleLineTextBorder
{
}

.scfMultipleLineTextTextBox
{
}

.scfMultipleLineTextLabel
{
}

.scfMultipleLineTextUsefulInfo
{
	color:#AFD6AF;
}
/* Password */
.scfPasswordBorder
{
}

.scfPasswordTextBox
{
}

.scfPasswordLabel
{
}

.scfPasswordUsefulInfo
{
	color:#AFD6AF;
}

/* Single-Line Text */
.scfSingleLineTextBorder
{
}

.scfSingleLineTextTextBox
{
}

.scfSingleLineTextLabel
{
}

.scfSingleLineTextUsefulInfo
{
	color:#AFD6AF;
}
/* Number */
.scfNumberBorder
{
}

.scfNumberTextBox
{
}

.scfNumberLabel
{
}
.scfNumberUsefulInfo
{
	color:#AFD6AF;
}

/* Date Picker*/
.scfDatePickerTextBox
{
}

.scfDatePickerUsefulInfo
{
	color:#AFD6AF;
}

.scfDatePickerLabel
{
}

/* DateTime */
.scfDateBorder
{
}

.scfDateTextBox
{
}

.scfDateLabel
{
}

.scfDateUsefulInfo
{
	color:#AFD6AF;
}

	/* Radio Button List */
.scfRadioListBorder
{
}

.scfRadioList
{
}

.scfRadioListLabel
{
}

.scfRadioListUsefulInfo
{
	color:#AFD6AF;
}

/* ListBox */
.scfListBoxBorder
{
}

.scfListBox
{
}

.scfListBoxLabel
{
}

.scfListBoxUsefulInfo
{
	color:#AFD6AF;
}

/* DisplayCheckBoxList */
.scfCheckBoxListBorder
{
}

.scfCheckBoxList
{
}

.scfCheckBoxListLabel
{

}

.scfCheckBoxListUsefulInfo
{
	color:#AFD6AF;
}

/* File Upload */
.scfFileUploadBorder
{
}

.scfFileUpload
{
}

.scfFileUploadLabel
{
}

.scfFileUploadUsefulInfo
{
	color:#AFD6AF;
}

.scfPasswordConfirmationUsefulInfo,
.scfCreditCardTextUsefulInfo,
.scfDateSelectorUsefulInfo,
.scfCaptchaUsefulInfo, .scfTelephoneUsefulInfo, .scfSmsTelephoneUsefulInfo
{
	color:#AFD6AF;
}

.scfDateSelectorShortLabelDay, .scfDateSelectorShortLabelMonth, .scfDateSelectorShortLabelYear
{
	color : #649064;
}